$font-family: 'Inconsolata', monospace;
$bp-tablet: 680px;
$bp-large: 1400px;
$bp-smartphone: 370px; // only used for iphone 5 linebreak
$line-height: 1.5;
$black: #000;
$blue: #0000ee;
// $orange: #ffa500;
$orange: #ff5000;
$red: #ee0000;
$light-grey: #eeeeee;
$grey: #ced4da;
$dark-grey: #495057;
$white: #fff;
$stylish-red: #cb2c30;

// form variables
// desktop font sizes
$font-size-desktop-large: 36px;
$font-size-desktop-galapagos-large: 60px;
$font-size-desktop-small-large: 24px;
// laptop font sizes
$font-size-laptop: 33px;
$font-size-laptop-galapagos: 55px;
$font-size-laptop-small: 22px;
// mobile font sizes
$font-size-mobile: 26px;
$font-size-mobile-small: 20px;
$font-size-mobile-galapagos: 34px;
$x1: $font-size-desktop-galapagos / 3;
$x2: 2 * $x1;
$x3: 3 * $x1;
$form-width-small: 580px;
$form-width-wide: 920px;

// mixins
@mixin galapagos-margin-bottom($factor) {
  margin-bottom: $factor * $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $factor * $font-size-desktop-galapagos;
  }

  @media screen and (min-width: $bp-large) {
    margin-bottom: $factor * $font-size-desktop-galapagos-large;
  }
}

@mixin galapagos-margin-top($factor) {
  margin-top: $factor * $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    margin-top: $factor * $font-size-desktop-galapagos;
  }

  @media screen and (min-width: $bp-large) {
    margin-top: $factor * $font-size-desktop-galapagos-large;
  }
}