$font-family: 'Inconsolata', monospace;
$bp-tablet: 680px;
$bp-smartphone: 370px; // only used for iphone 5 linebreak
$line-height: 1.5;
$black: #000;
$blue: #0000ee;
$orange: #ffa500;
$red: #ee0000;
$light-grey: #eeeeee;
$grey: #ced4da;
$dark-grey: #495057;
$white: #fff;
$stylish-red: #cb2c30;

// form variables
// $font-size-desktop: 44px;
// $font-size-desktop-galapagos: 60px;
$font-size-desktop: 36px;
$font-size-desktop-galapagos: 56px;
$font-size-desktop-small: 28px;
$font-size-desktop-extra-small: 24px; // used for newsletter banner and help explain texts
$font-size-mobile: 26px;
$font-size-mobile-small: 22px;
$font-size-mobile-galapagos: 34px;
$x1: $font-size-desktop-galapagos / 3;
$x2: 2 * $x1;
$x3: 3 * $x1;