.orange-radio-label {
  position: relative;
  color: $blue;

  // empty circle as radiobutton
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $font-size-mobile-galapagos;
    height: $font-size-mobile-galapagos;
    border: 1px solid $blue;
    border-radius: 100%;
    background: #fff;

    @media screen and (min-width: $bp-tablet) {
      width: $font-size-laptop-galapagos;
      height: $font-size-laptop-galapagos;
    }

    @media screen and (min-width: $bp-large) {
      width: $font-size-desktop-galapagos;
      height: $font-size-desktop-galapagos;
    }
  }

  // filled circle as radiobutton
  &:after {
    content: '';
    width: $font-size-mobile-galapagos - 2px;
    height: $font-size-mobile-galapagos - 2px;
    background: $orange;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    @media screen and (min-width: $bp-tablet) {
      width: $font-size-laptop-galapagos - 2px;
      height: $font-size-laptop-galapagos - 2px;
    }

    @media screen and (min-width: $bp-tablet) {
      width: $font-size-desktop-galapagos - 2px;
      height: $font-size-desktop-galapagos - 2px;
    }
  }

  // hover styles
  &:hover {
    cursor: pointer;

    &:before {
      border: 3px solid $blue;
    }
  }
}

// transform on selection
.orange-radio-input:not(:checked) + .orange-radio-label:after {
  opacity: 0;
  transform: scale(0);
}

.orange-radio-input:checked + .orange-radio-label:after {
  opacity: 1;
  transform: scale(1);
}