// global styles
@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/Inconsolata-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('../assets/GalapagosA-Regular.woff2') format('woff2'), url('../assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-RegularGrid';
  src: url('../assets/GalapagosA-RegularGrid.woff2') format('woff2'), url('../assets/GalapagosA-RegularGrid.woff') format('woff');
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

$font-family: 'Inconsolata', monospace;
$bp-tablet: 680px;
$bp-smartphone: 370px;
$font-size-smartphone-xs: 24px;
$font-size-smartphone: 26px;
$font-size-desktop: 44px;
$line-height: 1.5;
$black: #000;
$blue: #0000ee;
$green: #00ee00;
$red: #ee0000;
$grey: #f0f0f0;

// form variables
$form-font-size: 44px;
$form-font-size-small: 18px;
$x1: $form-font-size / 3;
$x2: 2 * $x1;
$x3: 3 * $x1;

body {
  color: $black;
  font-size: $font-size-smartphone-xs;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-smartphone;
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop;
  }
}

.content {
  overflow-wrap: break-word;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    padding: 36px;
  }
}

@media screen and (min-width: $bp-tablet) {
  .longer-text-container {
    font-size: 28px;
  }
}

.heading {
  font-size: 20px; // prevent linebreak on smaller devices
  font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
  font-weight: bold;

  @media screen and (min-width: $bp-smartphone) {
    font-size: inherit;
  }
}

.intro {
  margin-bottom: 120px;
}

// newsletter form
.nf {
  display: inline-block;

  &__at-sign {
    color: $blue;
    display: inline-block;
  }

  &__email-input {
    margin-bottom: 8px;


    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 20px;
    }
  }
}

.nf-responses {
  @media screen and (min-width: $bp-tablet) {
    margin-right: 250px;
  }

  &__success {
    color: $blue;
    display: none; 
  }

  &__error {
    color: $red;
    display: none;
  }
}


.button {
  margin-bottom: 20px;
  border: 1px solid $grey;
  background-color: $grey;

  color: $blue;

  &:hover {
    cursor: pointer;
    border: 1px solid $blue;
  }

  &--saf {
    margin-top: 80px;
    display: block;
    font-size: $form-font-size;
  }
}

.footer {
  text-align: center;
}

.underlined-link {
  color: black;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: .5;
    bottom: -1px;
    background-color: $black;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }
}

.back-arrow {
  display: block;
}

.navigation {
  margin-bottom: 80px;

  &__element {
    display: inline-block;
  }
}

.founders__header {
  margin-bottom: 20px;
}

.founders__logos {
  display: flex;
  align-items: center;
}

.founder-link {
  display: inline-block;
  margin-right: 40px;

  &--kk {
    width: 130px;

    @media screen and (min-width: $bp-tablet) {
      width: 90px;
    }
  }

  &--nf {
    width: 250px;
  }
}

.founder-img {
  width: 100%;
}

.title {
  line-height: 1;
  font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
  font-size: $form-font-size;

  &--grid {
    font-family: 'GalapagosA-RegularGrid', 'Inconsolata', monospace;
  }
}

// submit art funnel
.submit-art-container {
  font-size: $form-font-size;
  margin-bottom: 120px;

  &__heading {
    margin-bottom: 80px;
  }
}

.categories {
  display: flex;
  margin-bottom: 80px;
}

// submit art form
.saf {
  font-size: $form-font-size-small;
  display: none;

  &__input {
    font-size: $form-font-size;
    display: block;
    margin-bottom: 80px;
    width: 40%;

    &--description {
      width: 100%;
    }

    &--price {
      width: 30%;
    }

    &--full {
      width: 100%;
    }
  }
}

.iu {
  line-height: 1;
  margin-bottom: 80px;
  width: 40%;

  &__input-container {
    border: 1px solid $black;
    padding: $x1;
  }

  &__file-input-button {
    border: 1px solid $black;

    &:hover {
      cursor: pointer;
      color: $blue;
      border: 1px solid $blue;
    }
  }

  &__file {
    position: relative;
    margin: $x1;

    // &:before {
    //   border: 1px solid $black;
    //   content: ' ';
    //   display: inline-block;
    //   width: $x1;
    //   height: $x1;
    // }
  }

  &__file-remove {
    line-height: 1;
    position: absolute;
    right: 0;
    top: - $x1;
    font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
    font-size: $form-font-size;

    &:hover {
      cursor: pointer;
      color: $blue;
    }
  }
}

.contribution {
  margin-bottom: 80px;
}

.hidden-file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}