// global styles
@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/Inconsolata-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('../assets/GalapagosA-Regular.woff2') format('woff2'), url('../assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-RegularGrid';
  src: url('../assets/GalapagosA-RegularGrid.woff2') format('woff2'), url('../assets/GalapagosA-RegularGrid.woff') format('woff');
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: $black;
  font-size: $font-size-mobile;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop;
  }
}

// buttons + common styles
.button {
  border: 2px solid $light-grey;
  background-color: $white;
  color: $black;

  &:hover {
    cursor: pointer;
    border: 2px solid $black;
  }
}

.remove-button {
  color: $dark-grey;
  line-height: 1;
  font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
  font-size: 36px;
  margin-left: auto;

  &:hover {
    cursor: pointer;
    color: $black;
  }
}

.hidden-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// content
.content,
.nf-container {
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.nf-container {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: $font-size-mobile-small;
  border: 1px solid $black;
  display: flex;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-extra-small;
  }
}

.content {
  padding-top: 18px;
  padding-bottom: 18px;
  overflow-wrap: break-word;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// newsletter form
.nf {
  display: inline-block;

  &__at-sign {
    color: $blue;
    display: inline-block;
  }

  &__email-input {
    background-color: $white;
    color: $dark-grey;
    margin-bottom: 6px;
    border: 1px solid $grey;

    &:focus {
      background-color: $white;
      border-color: $blue;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
  }

  &__button {
    margin-bottom: 6px;
  }
}

.nf-responses {
  @media screen and (min-width: $bp-tablet) {
    margin-right: 250px;
  }

  &__success {
    color: $blue;
    display: none; 
  }

  &__error {
    color: $red;
    display: none;
  }
}

// home page
.heading {
  font-size: 20px; // prevent linebreak on smaller devices (iphone 5)
  font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
  font-weight: bold; // only used when Galapagos is not loaded

  @media screen and (min-width: $bp-smartphone) {
    font-size: inherit;
  }
}

.intro {
  margin-bottom: 10px;
}

.blue-arrows {
  width: 36%;
  margin-bottom: 3 * $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    width: 22%;
    margin-bottom: 3 * $font-size-desktop-galapagos;
  }
}

// submit art container
.sa-container {
  margin-bottom: 3 * $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 3 * $font-size-desktop-galapagos;
  }

  &__heading {
    margin-bottom: $font-size-mobile-galapagos;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: $font-size-desktop-galapagos;
    }
  }
}

.title {
  line-height: 1;
  font-family: 'GalapagosA-Regular', 'Inconsolata', monospace;
  font-size: $font-size-mobile-galapagos;

  &--grid {
    font-family: 'GalapagosA-RegularGrid', 'Inconsolata', monospace;
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-galapagos;
  }
}

.categories {
  @media screen and (min-width: $bp-tablet) {
    display: flex;
  }
}

.category-label {
  position: relative;

  // empty circle as radiobutton
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $font-size-mobile-galapagos;
    height: $font-size-mobile-galapagos;
    border: 1px solid $black;
    border-radius: 100%;
    background: #fff;

    @media screen and (min-width: $bp-tablet) {
      width: $font-size-desktop-galapagos;
      height: $font-size-desktop-galapagos;
    }
  }

  // filled circle as radiobutton
  &:after {
    content: '';
    width: $font-size-mobile-galapagos - 2px;
    height: $font-size-mobile-galapagos - 2px;
    background: $orange;
    // background: $black;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;

    @media screen and (min-width: $bp-tablet) {
      width: $font-size-desktop-galapagos - 2px;
      height: $font-size-desktop-galapagos - 2px;
    }
  }

  // hover styles
  &:hover {
    cursor: pointer;
    // color: $blue;

    &:before {
      border: 3px solid $black;
    }
  }
}

// transform on selection
.category-input:not(:checked) + .category-label:after {
  opacity: 0;
  transform: scale(0);
}

.category-input:checked + .category-label:after {
  opacity: 1;
  transform: scale(1);
}

// submit art form
.sa-form {
  display: none;
  margin-top: $font-size-mobile-galapagos;
  max-width: 1000px;

  @media screen and (min-width: $bp-tablet) {
    margin-top: $font-size-desktop-galapagos;
  }

  &__button {
    margin-top: $font-size-mobile-galapagos;
    color: $blue;

    &:hover {
      border: 2px solid $blue;
    }

    @media screen and (min-width: $bp-tablet) {
      margin-top: $font-size-desktop-galapagos;
    }
  }
}

.explain {
  color: $blue;
  font-size: $font-size-mobile-small;
  margin-bottom: $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-extra-small;
    margin-bottom: $font-size-desktop-galapagos;
  }
}

.form-group {
  max-width: 680px;
  font-size: $font-size-mobile-small;
  margin-bottom: $font-size-mobile-galapagos;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-small;
    margin-bottom: $font-size-desktop-galapagos;
  }

  &--wide {
    max-width: 100%; // max form width is defined in class sa-form
  }

  &--small { // only used for inline textform within checkbox region
    max-width: 680px;
  }
}

.form-group__label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-group__input {
  display: block;
  background-color: $white;
  width: 100%;
  padding: .375rem .75rem;
  color: $dark-grey;
  border: 1px solid $grey;
  line-height: 1.5;

  &:focus {
    background-color: $white;
    border-color: $blue;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.form-field-required {
  color: $blue;
}

.form-help {
  font-size: $font-size-mobile-small;
  color: $dark-grey;
  padding-top: .25rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-extra-small;
    position: relative;
    padding-right: $font-size-desktop-galapagos + 16px; // 16px equals 1 rem
  }


  &--checkbox {
    margin-top: 1.5rem;
  }

  // show question mark only on desktop computers
  &__question-mark {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      color: $blue;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.form-check {
  position: relative;
  font-size: $font-size-mobile-small;
  line-height: 1.2;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-extra-small;
    padding-left: 2rem;
  }

  &__checkbox {
    position: absolute;
    margin-top: .4rem;
    margin-left: -1.5rem;

    @media screen and (min-width: $bp-tablet) {
      margin-left: -2rem;
    }
  }

  &--important {
    color: $blue;
  }

  &--warning {
    color: $red;
  }
}

.footer, 
.founders {
  font-size: $font-size-mobile-small;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-small;
  }
}

.underlined-link {
  color: black;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: .5;
    bottom: -1px;
    background-color: $black;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }
}

.back-arrow {
  display: block;
}

.navigation {
  margin-bottom: 80px;

  &__element {
    display: inline-block;
  }
}

.founders__header {
  margin-bottom: 20px;
}

.founders__logos {
  display: flex;
  align-items: center;
}

.founder-link {
  display: inline-block;
  margin-right: 40px;

  &--kk {
    width: 130px;

    @media screen and (min-width: $bp-tablet) {
      width: 90px;
    }
  }

  &--nf {
    width: 250px;
  }
}

.founder-img {
  width: 100%;
}

// for impressum only
@media screen and (min-width: $bp-tablet) {
  .longer-text-container {
    font-size: 28px;
  }
}

// form visibility toggles at end of file, so they overwrite styles befores
.invisible {
  display: none;
}

.sa-form--objekt .visible-objekt {
  display: block;
}

.sa-form--erlebnis .visible-erlebnis {
  display: block;
}

.sa-form--motiv .visible-motiv {
  display: block;
}