| Hallo #{entry.buyerFullname}
|
| wir freuen uns, dass Sie ein Angebot über den Kulturgenerator gekauft haben. Vielen Dank dafür und viel Freude damit.
| Die Künstlerin bzw. der Künstler wird sich bei Ihnen melden, um die Übergabe oder den Versand des Werkes zu besprechen.
|
| #{entry.orderQuantity} x #{entry.artwork.author}: #{entry.artwork.title}
|
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.org.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators