| Hallo #{entry.buyerFullname}
|
| Sie haben ein Kunstwerk über den Kulturgenerator gekauft. Vielen Dank dafür!
| Die Künstlerin bzw. der Künstler wird sich bei Ihnen melden, um die Übergabe oder den Versand des Werkes zu besprechen.
|
| #{entry.orderQuantity} x #{entry.artwork.author}: #{entry.artwork.title}
|
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.de.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators