| Hallo,
|
| vielen lieben Dank für die Einreichung Ihres Angebots in den Kulturgenerator.
|
| Nach Sichtung des Angebots melden wir uns bei Ihnen.
|
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.org.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators