| Hallo,
|
| vielen Dank, wir haben Ihre Einreichung erhalten.
|
| Sobald wir das Kunstwerk gesichtet haben melden wir uns bei Ihnen.
|
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.org.
|
| Freundliche Grüße
| Ihr Team des Kulturgenerators