| Hallo,
| 
| vielen lieben Dank für die Einreichung Ihres Angebots in den Kulturgenerator. Wir freuen uns über Ihr Interesse an unserem solidarischen Projekt!
|  
| Auf der Online-Seite wird jeweils eine Auswahl an Arbeiten angezeigt, um ein überschaubares und diverses Angebot zu bieten. Wird daraus etwas verkauft, kann der/die Künstler:in zwei neue, anonymisierte Teilnehmer:Innen für den Generator generieren. So werden Künstler:innen (Sie) zur aktiven Partizipation eingeladen.
|  
| Sobald Ihr Werk ausgewählt wird, melden wir uns bei Ihnen. Bitte haben Sie Verständnis dafür, dass nicht alle Einsendungen berücksichtigt werden können. Seien Sie versichert, dass mit dieser Entscheidung keinerlei Aussage über die Qualität Ihrer Arbeit verbunden ist.
|  
| Bei Fragen, Ideen oder Anmerkungen wenden Sie sich gerne an info@kulturgenerator.org.
| 
| Freundliche Grüße
| Ihr Team des Kulturgenerators