| Hallo,
| 
| vielen lieben Dank für die Einreichung Ihres Angebots in den Kulturgenerator. Wir freuen uns über Ihr Interesse an unserem solidarischen Projekt!
|  
| Auf der Online-Seite wird jeweils eine Auswahl an Arbeiten angezeigt um ein überschaubares und diverses Angebot zu bieten. Es kann daher etwas dauern, bis eine Ihrer Arbeiten veröffentlicht wird. Leider können wir nicht alle Arbeiten berücksichtigen und bitten um Ihr Verständnis, wenn wir Ihr Angebot nicht in den Kulturgenerator einstellen. Bitte seien Sie versichert, dass mit dieser Entscheidung keinerlei Aussage über die Qualität Ihrer Arbeit verbunden ist.
|  
| Im Falle der Einstellung des Angebots werden wir Sie zeitig benachrichtigen.
|  
| Bei Fragen wenden Sie sich gerne an info@kulturgenerator.org.
| 
| Freundliche Grüße
| Ihr Team des Kulturgenerators