@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

@import 'ArtworkDetail.scss';
@import 'ArtworkList.scss';
@import 'ArtworkListItem.scss';


@import './override/Carousel.scss';

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', 'sans-serif';
    font-size: 22px;
}