.artwork-list-item {
  padding: 0 10px 30px;
}

.artwork-list-item__image {
  width: 100%;
}

.artwork-list-item__author {
  text-transform: uppercase;
}

.artwork-list-item__price {
  font-family: $font-family-galapagos;
  color: $blue;
}