.header {
    // cursor: pointer;
}

.header__back-button {
    position: relative;
    height: 48px;
    border-bottom: 3px solid blue !important;

    .marquee-text-text {
        margin-top: -15px;
    }
}

.header__back-arrow-icon {
    margin-top: 20px;
    font-size: 55px;
    color: blue;
    margin-right: 140px;
}