.moneypool__banner {
    font-size: 55px;
    color: blue;
    font-family: 'Inconsolata', 'sans-serif';

    .marquee-text-text {
        margin-top: -10px;
    }
}

.moneypool__banner__balance-item {
    margin-right: 140px;
}