<footer class="footer">
    <div class="navigation">
        <a class="navigation__element underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a> <br> 
        <a class="navigation__element underlined-link" href="impressum.html">Impressum & Datenschutz</a>
    </div>
    {{> _founders }}
</footer>