<footer class="footer">
    {{> _founders }}
    <div>
        <a class="navigation-element underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a> <br> 
        <a class="navigation-element underlined-link" href="impressum.html">Impressum & Datenschutz</a>
    </div>
</footer>