<footer>
    <div class="navigation">
        {{!--                 <a class="navigation__element underlined-link" href="faq.html">FAQ</a> | --}}
        <a class="navigation__element underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a> <br> 
        <a class="navigation__element underlined-link" href="impressum.html">Impressum & Datenschutz</a>
    </div>
    <div class="founders">
        <div class="founders__header">Eine Initiative von:</div>
        <div class="founders__logos">
            <a class="founder-link founder-link--kk" href="https://www.koelnerkulturrat.de/" target="_blank">
                <img class="founder-img" src="assets/images/kk-logo.png">
            </a>
        </div>
    </div>
</footer>