<form class="newsletter-form js-form" action="https://kulturgenerator.us8.list-manage.com/subscribe/post?u=6abc0980238ff5a55fb947df7&amp;id=100b3f64c8" method="POST">
  <span class="mail-label">@:</span>
  <input class="email-formfield js-e-mail" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-Mail-Adresse" required>
  <input class="button js-submit" type="submit" value="interessiert &#x23ce;" name="submit" id="mc-embedded-subscribe">
</form>
<div class="form-responses">
    <div class="success-text js-success-text">Fast fertig.. Um die Anmeldung abzuschließen, klicken Sie bitte auf den Link in der E-Mail, die wir Ihnen gerade zugeschickt haben. Prüfen Sie ggf. auch Ihr Spam-Postfach.</div>
    <div class="error-text js-error-text">Ein Fehler ist aufgetreten. Haben Sie sich eventuell vertippt oder sind Sie bereits im Verteiler?</div>
</div>
