<div class="founders">
    <div class="founders__header">Eine Initiative von:</div>
    <div class="founders__logos">
        <a class="founder-link founder-link--kk" href="https://www.koelnerkulturrat.de/" target="_blank">
            <img class="founder-img" src="assets/images/kk-logo.png">
        </a>
        <a class="founder-link founder-link--wf" href="http://www.cafe-in-der-wachsfabrik.de/" target="_blank">
            <img class="founder-img" src="assets/images/wf-logo.png">
        </a>
        <a class="founder-link founder-link--nf" href="https://niehlerfreiheit.de/" target="_blank">
            <img class="founder-img" src="assets/images/nf-logo.jpg">
        </a>
    </div>
</div>