<!doctype html>
<html class="no-js" lang="de">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="description" content="Eine generöse Maschine zur finanziellen Unterstützung von Kölner Kulturschaffenden während der Coronakrise">
    <meta name="keywords" content="Kunst, Köln, Solidarität, Corona, Kulturhilfe, Kulturrat">
    {{#if impressum}}<meta name="robots" content="noindex, nofollow">{{/if}}

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="main.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="assets/images/favicon.ico">
</head>
<body class="{{#if faq}}blue-content{{/if}}">
    <div class="content">
        {{> @partial-block }}
    </div>
    {{#if index}}
        {{> _newsletter-form }}
    {{/if}}
    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/newsletter-form.js"></script>
    <script src="js/submit-art-form.js"></script>
</body>
</html>