<!doctype html>
<html class="no-js" lang="de">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex">
    <title>{{ title }}</title>
    <meta name="description" content="Eine generöse Maschine zur finanziellen Unterstützung von Kölner Kulturschaffenden während der Coronakrise">
    <meta name="keywords" content="Kunst, Köln, Solidarität, Corona, Kulturhilfe, Kulturrat">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="main.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="assets/images/favicon.ico">
</head>
<body>
    <div class="content">
        {{> @partial-block }}
        <footer>
            <div class="contact">
                <a class="underlined-link" href="faq.html">FAQ</a> |
                <a class="underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a> | <br>
                <a class="underlined-link" href="impressum.html">Impressum & Datenschutz</a>
            </div>
            <div class="founders">
                <div class="founders__header">Eine Initiative von</div>
                <div class="founders__logos">
                    <a class="founder-link founder-link--kk" href="https://www.koelnerkulturrat.de/" target="_blank">
                        <img class="founder-img" src="assets/images/kk-logo.png">
                    </a>
                    <a class="founder-link" href="https://www.stadt-koeln.de/politik-und-verwaltung/oberbuergermeisterin?kontrast=weiss" target="_blank">
                        <img class="founder-img" src="assets/images/ob-logo.png">
                    </a>
                    <a class="founder-link founder-link--rheinenergie" href="https://www.rheinenergie.com/de/" target="_blank">
                        <img class="founder-img" src="assets/images/rhein-energie-logo.jpg">
                    </a>
                    <a class="founder-link" href="https://www.ksk-koeln.de/de/home.html" target="_blank">
                        <img class="founder-img" src="assets/images/ksk-logo.jpg">
                    </a>
                </div>
            </div>
            {{!-- <div class="impressum">
                <a class="underlined-link" href="impressum.html">Impressum & Datenschutz</a>
            </div> --}}
        </footer>
        <script type="text/javascript">
        function newsletterSubmitted(event) {
    event.preventDefault();

    this._form = this.querySelector("form");
    this._action = this._form.getAttribute("action");
    this._input = this._form.querySelector("input.email").value;

    document.MC_callback = function(response) {

        if(response.result == "success") {
            console.log('Yeah!')

        } else {
            console.log('No!')

        }
    }

    // generate script
    this._script = document.createElement("script");
    this._script.type = "text/javascript";
    this._script.src = this._action + "&c=document.MC_callback&EMAIL=" + this._input;

    // append script to head    
    document.getElementsByTagName("head")[0].appendChild(this._script);
}

var newsletter = document.querySelector(".js-form")
newsletter.addEventListener("submit", newsletterSubmitted);
        </script>
    </div>

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="js/main.js"></script>
</body>
</html>