<form action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
    <input type="text" name="form_field_1">
    <input type="text" name="form_field_2">
    <input type="text" name="form_field_3">
    <input type="text" name="form_field_4">
    <input type="submit">
</form>