<form class="js-participate-form" action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
    {{!-- input names must be the same as header row in google sheet --}}
    <input type="text" name="title" placeholder="Titel der Arbeit">
    <input type="text" name="description" placeholder="Kurze Beschreibung des Werks">
    <div class="js-hidden-image-data"></div>
    <input type="file" class="js-file-input">
    <input type="submit">
</form>
