<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<form action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
    <input type="text" name="form_field_1">
    <input type="text" name="form_field_2">
    <input type="text" name="form_field_3">
    <input type="text" name="form_field_4">
    <div id="data"></div>
    <input type="file" name="form_image" id="uploadfile">
    <input type="submit">
</form>
<script>
$('#uploadfile').on("change", function() {
    var file = this.files[0];
    var fr = new FileReader();
    fr.fileName = file.name;
    fr.onload = function(e) {
        e.target.result
        html = '<input type="hidden" name="data" value="' + e.target.result.replace(/^.*,/, '') + '" >';
        html += '<input type="hidden" name="mimetype" value="' + e.target.result.match(/^.*(?=;)/)[0] + '" >';
        html += '<input type="hidden" name="filename" value="' + e.target.fileName + '" >';
        $("#data").empty().append(html);
    }
    fr.readAsDataURL(file);
});
</script>