<div class="sa-container">
    <div class="sa-container__heading title title--grid">kölner<br><span class="title">kultur</span> einreichen
        {{!-- <img src="assets/images/einreichen-generieren-einreichen.gif" class="animation"> --}}
    </div>

    {{!-- show form based on category selection --}}
    <div class="categories">
        <div class="title title--grid">kultur&#160;</div>
        <div>
            <div class="title title--grid">
                <input type="radio" name="category" value="objekt" id="radio-objekt" class="hidden-input category-input js-category-input">
                <label for="radio-objekt" class="category-label category-label--red">ooobjekt</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="hidden-input category-input js-category-input">
                <label for="radio-erlebnis" class="category-label category-label--blue">ooerlebnis</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="hidden-input category-input js-category-input">
                <label for="radio-motiv" class="category-label category-label--green">oomotiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form js-form js-form-objekt js-form-erlebnis js-form-motiv" action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
        {{!-- show explain text when parent class sa-form--selector is triggered by js --}}
        <div class="explain invisible visible-objekt">
            Materielle künstlerische Erzeugnisse, z.B. Bilder, Skulpturen, Fotografien, Texte.
        </div>
        <div class="explain invisible visible-erlebnis">
            Kulturelle Ereignisse, Online-Angebote oder Kurse und Workshops, z.B. Gutscheine für Konzerte, Lesungen, Kino;  Sonderveranstaltungen; Streaming-Angebote für Filme; besondere Erlebnisse, z.B. Atelierbesuche.
        </div>
        <div class="explain invisible visible-motiv">
            Die Niehler Freiheit druckt Grafiken und Fotografien auf Textilien. Hier können die Motive hochgeladen werden.
            Benötigt werden dafür einfarbige Entwürfe. Das maximale druckbare
            Format beträgt 30x40cm. Die Datei muss als entweder als Vektorgrafik angelegt sein (hier ist eine ca. 0,5mm Linie noch scharf darstellbar) oder als Bitmap in Graustufen mit 300 DPI und gerastert (eine fotorealistischer Druck funktioniert am besten mit: Halbtonraster Rasterweite 27 Linien pro Zoll, 22,5Grad gewinkelt, Form: Ellipse). Eine Kombination von Beidem ist möglich.
        </div>
        
        {{!-- FORM INPUTS --}}
        {{!-- category --}}
        <input type="hidden" class="js-selected-category" name="category" value="">

        <div class="form-group">
            <label class="form-group__label" for="image-input">Bild hochladen <span class="form-field-required">* (max. 5 MB pro Datei)</span></label>

            {{!-- VISIBLE inputs with class js-required-input are set to required --}}

            {{!-- image --}}
            <input class="form-group__input js-file-input js-required-input" type="file" name="image" id="image-input" accept="image/*">

            {{!-- js file reader writes image raw data into hidden input --}}
            <div class="js-hidden-image-data"></div>
            
            {{!-- error when image is to big --}}
            <div class="image-size-error js-image-size-error">Das Bild, das sie ausgewählt haben, ist größer als die maximal erlaubte Dateigröße von 5 MB. Bitte wählen Sie ein anderes aus.</div>

            {{!-- help text for objekt and erlebnis --}}
            <div class="form-help invisible visible-objekt visible-erlebnis">Der / Die Kulturschaffende stellt das Bild für die Verwendung auf der Homepage von seinem Gebrauch des Urheberrechts auf unbefristete Zeit, spätestens bis zum Ende der Präsentation für die Aktion, frei.<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a></div>
            
            {{!-- help text for for motiv --}}
            <div class="form-help invisible visible-motiv">Mit dem Upload versichere ich, dass ich Urheber*in des eingereichten Motivs bin. Der / Die Kulturschaffende stellt das Bild für die Verwendung auf der Homepage von seinem Gebrauch des Urheberrechts auf unbefristete Zeit, spätestens bis zum Ende der Präsentation für die Aktion, frei.<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a></div>
        </div>

        {{!-- title --}}
        <div class="form-group">
            <label class="form-group__label" for="title-input">Titel <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="title" id="title-input" maxlength="60">
        </div>

        {{!-- description --}}
        <div class="form-group">
            <label class="form-group__label" for="description-input">Kurzbeschreibung <span class="form-field-required">*</span></label>
            <textarea class="form-group__input js-required-input" name="description" rows="4" id="description-input" maxlength="2000"></textarea>
            <div class="form-help">Dieser Text beschreibt Ihr Angebot und erscheint auf der Homepage. Bei materiellen Werken fügen Sie bitte Angaben zu Material, Größe, Stil etc. hinzu. Bei Veranstaltungen oder ähnlichem, bitte Angaben zu Menge und voraussichtlichem Datum<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a></div>
        </div>

        {{!-- price --}}
        <div class="form-group invisible visible-objekt visible-erlebnis">
            <label class="form-group__label" for="price-input">Preis <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="price" id="price-input" maxlength="60">
        </div>

        {{!-- checkboxes --}}
        <div class="form-group form-group--wide">
            {{!-- donation yes --}}
            <div class="donation-thank-you js-thank-you-donation">
                Vielen Dank!
            </div>
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox js-required-input js-donation-input" type="radio" name="donation" value="Ja" id="donation-input-yes">
                <label for="donation-input-yes">Ich spende das Angebot und verzichte auf Einnahmen durch den Verkauf</label>
            </div>
            
            {{!-- donation no --}}
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox js-required-input js-donation-input" type="radio" name="donation" value="50%" id="donation-input-no">
                <label for="donation-input-no">Ich möchte 50 % der Einnahmen aus dem Verkauf des Angebots erhalten</label>
            </div>

            {{!-- payout --}}
            <div class="form-check">
                <input class="form-check__checkbox js-donation-input js-payout-input" type="checkbox" name="payout" value="true" id="payout-input">
                <label for="payout-input">Ich möchte bei der Gesamtausschüttung des Kulturgenerators berücksichtigt werden</label>
            </div>
            <div class="form-help form-help--checkbox invisible visible-objekt visible-erlebnis 
            js-full-donation-toggle-visibility">Mehrfachnennung möglich<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a></div>
        </div>

        {{!-- fullname --}}
        <div class="form-group">
            <label class="form-group__label" for="fullname-input">Name, Vorname <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="fullname" id="fullname-input" maxlength="60">
        </div>

        {{!-- adress --}}
        <div class="form-group">
            <label class="form-group__label" for="adress-input">Anschrift <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="adress" id="adress-input" maxlength="60">
        </div>

        {{!-- artisticwork --}}
        <div class="form-group">
            <label class="form-group__label" for="artisticwork-input">Künstlerische Tätigkeit <span class="form-field-required">*</span></label>
            <textarea class="form-group__input js-required-input" name="artisticwork" id="artisticwork-input" maxlength="2000" rows="3"></textarea>
            <div class="form-help invisible visible-erlebnis visible-objekt 
            js-full-donation-toggle-visibility">Bitte haben Sie Verständnis, dass nur
            diejenigen bei der Gesamtausschüttung berücksichtigt werden, die hauptberuflich oder nachweislich in hohem Maße ehrenamtlich als Kunst- oder Kulturschaffende arbeiten.<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a>
        </div>
    </div>

    {{!-- email --}}
    <div class="form-group">
        <label class="form-group__label" for="email-input">E-Mail-Adresse <span class="form-field-required">*</span></label>
        <input class="form-group__input js-required-input" type="email" name="email" id="email-input">
        <div class="form-help 
        js-full-donation-toggle-visibility">Ihre E-Mail-Adresse werden wir für eventuelle Auszahlungen per Paypal benutzen. Falls Sie noch keinen Paypal Account haben, können Sie sich auch nachträglich zum Zeitpunkt der Ausschüttung einen erstellen.<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a></div>
    </div>

    {{!-- website --}}
    <div class="form-group">
        <label class="form-group__label" for="website-input">Webseite (wenn vorhanden)</label>
        <input class="form-group__input" type="text" name="website" id="website-input" maxlength="60">
    </div>

    {{!-- institution --}}
    <div class="form-group">
        <label class="form-group__label" for="institution-input">Institution (wenn vorhanden)</label>
        <input class="form-group__input" type="text" name="institution" id="institution-input" maxlength="60">
    </div>

    <div class="form-group form-group--wide">
        {{!-- venue --}}
        <div class="form-check">
            <input class="form-check__checkbox" type="checkbox" name="venue" value="true" id="venue-input">
            <label for="venue-input">Ich bin ein Veranstaltungsort</label>
        </div>

        {{!-- member --}}
        <div class="form-check invisible visible-objekt visible-erlebnis 
        js-full-donation-toggle-visibility">
        <input class="form-check__checkbox" type="checkbox" name="member" value="true" id="member-input">
        <label for="member-input">Ich bin eingetragenes Mitglied bei GEMA, KSK oder einem Berufsverband</label>
    </div>

    {{!-- nomember --}}
    <div class="form-check invisible visible-objekt visible-erlebnis 
    js-full-donation-toggle-visibility">
    {{!-- toggles visibility of entitlement textarea --}}
    <input class="form-check__checkbox js-no-member-input" type="checkbox" name="nomember" value="true" id="nomember-input">
    <label for="nomember-input">Ich habe keine dieser Mitgliedschaften</label>
</div>

{{!-- entitlement --}}
<div class="form-group form-group--small invisible js-entitlement">
    <textarea class="form-group__input" name="entitlement" rows="4"></textarea maxlength="2000">
        <div class="form-help">Bitte erläutern Sie Ihren Anspruch.In diesem Fall behalten wir uns vor, Sie zu kontaktieren.<a href="faq.html" target="_blank" class="form-help__question-mark title title--grid">&nbsp;?</a>
        </div>
    </div>

    {{!-- shipping --}}
    <div class="form-check invisible visible-objekt visible-erlebnis">
        <input class="form-check__checkbox js-required-input" type="checkbox" value="true" name="shipping" id="shipping-input">
        <label for="shipping-input">Hiermit versichere ich, dass ich das Kunstwerk nach Verkauf schnellstmöglich an die Käufer*in verschicke oder anderweitig übergebe.</label>
        <span class="form-field-required">*</span>
    </div>

    {{!-- fulltimeartist --}}
    <div class="form-check invisible visible-objekt visible-erlebnis 
    js-full-donation-toggle-visibility">
    <input class="form-check__checkbox js-required-input" type="checkbox" name="fulltimeartist" value="true" id="fulltimeartist-input">
    <label for="fulltimeartist-input">Ich versichere, dass meine Angaben der Wahrheit entsprechen und dass ich professionell als Kulturschaffende*r tätig bin.</label>
    <span class="form-field-required">*</span>
</div>

{{!-- gdpr --}}
<div class="form-check">
    <input class="form-check__checkbox js-required-input" type="checkbox" name="gdpr" value="true" id="gdpr-input">
    <label for="gdpr-input">Ich bin damit einverstanden, dass meine Angaben im Rahmen der Abwicklung verwendet und verwahrt werden.</label>
    <span class="form-field-required">*</span>
</div>
</div>
{{!-- Submit Button --}}
<button type="submit" class="sa-form__button button">Einreichen &#x23ce;</button>

{{!-- Saving Animation --}}
<span class="saving js-saving"><span>.</span><span>.</span><span>.</span></span>

<div class="form-responses">
    <div class="sa-form__response form-responses__success js-sa-form-success-text">Vielen Dank für die Einreichung! Wir melden uns bei Ihnen, wenn wir das Angebot gesichtet haben.</div>
    <div class="sa-form__response form-responses__error js-sa-form-error-text">Ein Fehler ist aufgetreten. Versuchen Sie es später erneut oder wenden Sie sich an <a href="mailto:info@kulturgenerator.de" class="underlined-link underlined-link--red">info@kulturgenerator.de</a></div>
</div>
</form>
</div>
