<div class="sa-container">
    <div class="sa-container__heading title title--grid">kölner<br><span class="title">kultur</span> einreichen</div>

    <div class="categories">
        <div class="title title--grid">kultur&#160;</div>
        <div>
            <div class="category title title--grid js-category">
                <input type="radio" name="category" value="objekt" id="radio-objekt" class="hidden-input category__input">
                <label for="radio-objekt" class="category__label">ooobjekt</label>
            </div>
            <div class="category title title--grid js-category">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="hidden-input category__input">
                <label for="radio-erlebnis" class="category__label">ooerlebnis</label>
            </div>
            <div class="category title title--grid js-category">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="hidden-input category__input">
                <label for="radio-motiv" class="category__label">oomotiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form sa-form--objekt js-form js-form-objekt js-form-erlebnis">
        <div class="explain explain--objekt">
            Materielle künstlerische Erzeugnisse, z.B. Bilder oder Skulpturen.
        </div>
        <div class="explain explain--erlebnis">
            Kulturelle Ereignisse, z.B. Gutscheine für
            Konzerte, Lesungen, Kino, Museen; Workshops und Kurse; besondere Erlebnisse, z.B. Atelierbesuche.
        </div>
    </form>

    <form class="sa-form js-form js-form-motiv">
     <div class="explain js-explain js-explain-motiv">
        Ich möchte, dass meine Grafiken oder Bilder auf Textilien gedruckt werden.
    </div>
</form>
</div>
