<div class="sa-container">
    <div class="sa-container__heading title title--grid">was<span class="title"> möchten sie</span><br>einreichen?
    </div>

    {{!-- show form based on category selection --}}
    <div class="sa-container__categories">
        <div class="title title--grid">kultur&#160;</div>
        <div>
            <div class="title title--grid">
                <input type="radio" name="category" value="objekt" id="radio-objekt" class="hidden-input orange-radio-input js-category-input">
                <label for="radio-objekt" class="orange-radio-label">ooobjekt</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="hidden-input orange-radio-input js-category-input">
                <label for="radio-erlebnis" class="orange-radio-label">ooerlebnis</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="hidden-input orange-radio-input js-category-input">
                <label for="radio-motiv" class="orange-radio-label">oomotiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form js-form" action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
        {{!-- show explain text when parent class sa-form--selector is triggered by js --}}
        <div class="explain invisible visible-objekt">
            Materielle künstlerische Objekte, z.B. Gemälde, Fotografien, Plakate, Zeichnungen, Skulpturen, Skizzen, Druckmedien, Plastiken, Installationen, Bild- und Tonträger.
        </div>
        <div class="explain invisible visible-erlebnis">
            Kulturelle Erlebnisse z.B. Online-Angebote, Kurse, Workshops, Konzerte, Lesungen, Filmvorführungen, Sonderveranstaltungen, Streamingangebote, Atelierbesuche.
        </div>
        <div class="explain invisible visible-motiv">
            Motive für Textildrucke z.B. einfarbige Grafiken, Zeichnungen, Skizzengrafiken, technische Bilder, Illustrationen, Bitmaps, Vektorgrafiken (Das maximale druckbare Format beträgt 30x40cm)
        </div>
        
        {{!-- FORM INPUTS --}}
        {{!-- category --}}
        <input type="hidden" class="js-selected-category" name="category" value="false">

        <div class="form-group form-group--wide">
            {{!-- title --}}
            <div class="form-group">
                <label class="form-group__label" for="title-input">Titel <span class="form-field-required">*</span></label>
                <input class="form-group__input js-required-input" type="text" name="title" id="title-input" maxlength="60">
            </div>

            {{!-- description --}}
            <div class="form-group">
                <label class="form-group__label" for="description-input">Kurzbeschreibung <span class="form-field-required">*</span></label>
                <textarea class="form-group__input js-required-input" name="description" rows="4" id="description-input" maxlength="2000"></textarea>
                <div class="form-help invisible visible-objekt">Dieser Text beschreibt Ihr Angebot und erscheint auf der Homepage. Bei Objekten fügen Sie bitte Angaben zu Material, Größe und Genre/Stil hinzu, sowie bei einer Auflage die Stückzahl.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
                <div class="form-help invisible visible-erlebnis">Dieser Text beschreibt Ihr Angebot und erscheint auf der Homepage. Bitte geben Sie die Stückzahl Ihres Angebotes zB. die Menge von Eintrittskarten an.
                <div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
                <div class="form-help invisible visible-motiv">Dieser Text beschreibt Ihr Motiv und erscheint auf der Homepage.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
            </div>

            {{!-- image --}}
            <div class="form-group--small">

                {{!-- change image upload text for funnels --}}
                <label class="form-group__label invisible visible-erlebnis visible-objekt" for="image-input">
                    Bilder hochladen 
                    <span class="form-field-required">*</span>
                </label>

                <label class="form-group__label invisible visible-motiv" for="image-input">
                    Motive hochladen 
                    <span class="form-field-required">*</span>
                </label>

                <div class="iu-container">
                    {{!-- upload button --}}
                    <label for="image-input" class="button">Wählen Sie eine Datei</label>

                    {{!-- hidden image input --}}
                    <input class="hidden-input js-file-input" type="file" name="image" id="image-input" accept="image/*" required>

                    {{!-- js file reader writes image raw data into container --}}
                    <div class="js-image-data">
                        {{!-- <div class="iu-image">
                            <span class="file-name">xy.jpg</span><span class="remove-button js-remove-image">x</span>
                        </div> --}}
                    </div>
                </div>
                

                {{!-- error when image is to big --}}
                <div class="image-error js-image-size-error">Das Bild, das sie ausgewählt haben, ist größer als die maximal erlaubte Dateigröße von 5 MB. Bitte wählen Sie ein anderes aus.</div>

                {{!-- error when more than 3 images are selected --}}
                <div class="image-error js-too-many-images-error">Sie können maximal drei Bilder auswählen.</div>

                {{!-- help texts --}}
                <div class="form-help invisible visible-erlebnis visible-objekt">Hier können Sie Bilder Ihres Angebotes (max. 5 MB pro Datei) zur Darstellung im Kulturgenerator hochladen.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>

                <div class="form-help invisible visible-motiv">Hier können die Motive (max. 5 MB pro Datei) hochgeladen werden. Benötigt werden dafür einfarbige Entwürfe. Das maximale druckbare Format beträgt 30x40cm.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
            </div>

            {{!-- imagelicense --}}
            <div class="form-check">
                {{!-- VISIBLE inputs with class js-required-input are set to required --}}
                <input class="form-check__checkbox js-required-input" type="checkbox" name="imglicense" value="true" id="imagelicense-input">
                <label for="imagelicense-input">Ich erlaube hiermit die Weiternutzung des Bildes/der Bilder für die Verwendung im Projekt und versichere, dass ich Urheber*in bzw. Inhaber*in des vollumfänglichen Nutzungsrechts bin. <span class="form-field-required">*</span></label>
            </div>

            {{!-- vgbild --}}
            <div class="form-check invisible visible-objekt visible-motiv">
                <input class="form-check__checkbox" type="checkbox" name="vgbild" value="true" id="vgbild-input">
                <label for="vgbild-input">Mein Bild ist von der VG Bild-Kunst geschützt und ich möchte, dass der Kulturgenerator die Verwertungsgesellschaft über meine Teilnahme am Projekt informiert.</label>
            </div>
        </div>

        <div class="form-group form-group--wide invisible visible-objekt visible-erlebnis">
            <div class="form-group--small">
                {{!-- price --}}
                <label class="form-group__label" for="price-input">Preis <span class="form-field-required">*</span></label>
                <input class="form-group__input js-required-input" type="text" name="price" id="price-input" maxlength="60">
            </div>

            {{!-- checkboxes --}}
            {{!-- donation yes --}}
            <div class="form-check">
                <input class="form-check__checkbox js-required-input" type="radio" name="donation" value="100%" id="donation-input-100" checked>
                <label for="donation-input-100">Ich möchte 100% meiner Einnahmen durch Verkauf solidarisch verteilen.</label>
            </div>
            
            {{!-- donation 50% --}}
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox js-required-input" type="radio" name="donation" value="50%" id="donation-input-50">
                <label for="donation-input-50">Ich möchte 50% meiner Einnahmen durch Verkauf solidarisch verteilen.</label>
            </div>

            {{!-- payout --}}
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox" type="checkbox" name="payout" value="false" id="payout-input">
                <label for="payout-input">Ich möchte nicht an der Ausschüttung des Generators beteiligt werden.</label>
            </div>
            <div class="form-help form-help--checkbox invisible visible-objekt visible-erlebnis">Die Ausschüttung ist die Verteilung des gesammelten Geldes unter allen Beteiligten, unabhängig davon, ob Ihr Angebot verkauft wurde oder nicht.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
        </div>

        {{!-- paypal --}}
        <div class="form-group">
            <label class="form-group__label" for="paypal-input">PayPal Konto <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="email" name="paypal" id="paypal-input">
            <div class="form-help invisible visible-objekt visible-erlebnis">Um sich am Generator zu beteiligen, müssen Sie ein PayPal-Konto haben. Tragen Sie hier bitte die dazugehörige E-Mail-Adresse ein. Diese E-Mail-Adresse wird bei Transaktion der Käuferin oder dem Käufer angezeigt. Falls sie kein PayPal Konto haben, können Sie <a href="https://www.paypal.com/welcome/signup/#/email_password" target="_blank" class="underlined-link underlined-link--grey">hier</a> eins erstellen.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
            <div class="form-help invisible visible-motiv">Hinterlegen Sie hier die E-Mail-Adresse Ihres PayPal Kontos, um bei Motivdruck von der Ausschüttung des Generators zu profitieren. Falls sie keins haben, können Sie <a href="https://www.paypal.com/welcome/signup/#/email_password" target="_blank" class="underlined-link underlined-link--grey">hier</a> eins erstellen.<div class="form-help__question-mark title title--grid">&nbsp;?</div></div>
        </div>

        {{!-- email --}}
        <div class="form-group">
            <label class="form-group__label" for="email-input">E-Mail-Adresse <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="email" name="email" id="email-input">
        </div>

        {{!-- fullname --}}
        <div class="form-group">
            <label class="form-group__label" for="fullname-input">Name, Vorname <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="fullname" id="fullname-input" maxlength="60">
        </div>

        {{!-- street --}}
        <div class="form-group">
            <label class="form-group__label" for="street-input">Straße und Hausnummer <span class="form-field-required">*</span></label>
            <input class="form-group__input js-required-input" type="text" name="street" id="street-input" maxlength="60">
        </div>

        <div class="form-group form-group--adress">
            <div class="form-group__postal">
                {{!-- postalcode --}}
                <label class="form-group__label" for="postalcode-input">PLZ <span class="form-field-required">*</span></label>
                <input class="form-group__input js-required-input" type="text" name="postalcode" id="postalcode-input" maxlength="60">
            </div>
            <div class="form-group__place">
                {{!-- place --}}
                <label class="form-group__label" for="place-input">Ort <span class="form-field-required">*</span></label>
                <input class="form-group__input js-required-input" type="text" name="place" id="place-input" maxlength="60">
            </div>
        </div>

        {{!-- artisticwork --}}
        <div class="form-group">
            <label class="form-group__label" for="artisticwork-input">Kulturschaffende Tätigkeit <span class="form-field-required">*</span></label>
            <textarea class="form-group__input js-required-input" name="artisticwork" id="artisticwork-input" maxlength="2000" rows="8"></textarea>
            <div class="form-help invisible visible-erlebnis visible-objekt">Bitte haben Sie Verständnis, dass nicht alle Einreichungen berücksichtigt werden können. Es sollen nur diejenigen vom Generator profitieren, die professionell als Kunst- und Kulturschaffende tätig sind. Bitte beschreiben Sie kurz Ihre Arbeit. Ggf. können Sie Links zu Webseiten, eine kurze Aufzählung Ihrer letzten Projekte und/oder Ausstellungen, als auch ein abgeschlossenes oder laufendes Studium in dem Bereich aufführen.<div class="form-help__question-mark title title--grid">&nbsp;?</div>
        </div>
    </div>

    {{!-- website --}}
    <div class="form-group">
        <label class="form-group__label" for="website-input">Webseite (wenn vorhanden)</label>
        <input class="form-group__input" type="text" name="website" id="website-input" maxlength="60">
    </div>

    {{!-- institution --}}
    <div class="form-group">
        <label class="form-group__label" for="institution-input">Institution (wenn vorhanden)</label>
        <input class="form-group__input" type="text" name="institution" id="institution-input" maxlength="60">
    </div>

    <div class="form-group form-group--wide">
        {{!-- venue --}}
        <div class="form-check">
            <input class="form-check__checkbox" type="checkbox" name="venue" value="true" id="venue-input">
            <label for="venue-input">Ich bin vertretungsberechtigte Person für eine Institution.</label>
        </div>

        {{!-- shipping --}}
        <div class="form-check invisible visible-objekt visible-erlebnis">
            <input class="form-check__checkbox js-required-input" type="checkbox" value="true" name="shipping" id="shipping-input">
            <label for="shipping-input">Hiermit versichere ich, dass ich das Kunstwerk nach Verkauf schnellstmöglich an die Käufer*in verschicke oder anderweitig übergebe.</label>
            <span class="form-field-required">*</span>
        </div>

        {{!-- gdpr --}}
        <div class="form-check">
            <input class="form-check__checkbox js-required-input" type="checkbox" name="gdpr" value="true" id="gdpr-input">
            <label for="gdpr-input">Ich bin damit einverstanden, dass meine Angaben im Rahmen der Abwicklung verwendet und verwahrt werden.</label>
            <span class="form-field-required">*</span>
        </div>
        <div>Die mit <span class="form-field-required">*</span> gekennzeichneten Felder bitte unbedingt ausfüllen.</div>
    </div>
    {{!-- Submit Button --}}
    <button type="submit" class="sa-form__button button button--primary">einreichen &#x23ce;</button>

    {{!-- Saving Animation --}}
    <span class="saving js-saving"><span>.</span><span>.</span><span>.</span></span>

    <div class="form-responses">
        <div class="form-responses__success js-sa-form-success-text">Vielen Dank für die Einreichung! Wir melden uns bei Ihnen, wenn wir das Angebot gesichtet haben.</div>
        <div class="form-responses__error js-sa-form-error-text">Ein Fehler ist aufgetreten. Versuchen Sie es später erneut oder wenden Sie sich an <a href="mailto:info@kulturgenerator.de" class="underlined-link underlined-link--red">info@kulturgenerator.de</a></div>
    </div>
</form>
</div>
