<div class="sa-container">
    <div class="sa-container__heading title title--grid">kölner<br><span class="title">kultur</span> einreichen</div>

    {{!-- show form based on category selection --}}
    <div class="categories">
        <div class="title title--grid">kultur&#160;</div>
        <div>
            <div class="title title--grid">
                <input type="radio" name="category" value="objekt" id="radio-objekt" class="hidden-input category-input js-category-input" checked>
                <label for="radio-objekt" class="category-label">ooobjekt</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="hidden-input category-input js-category-input">
                <label for="radio-erlebnis" class="category-label">ooerlebnis</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="hidden-input category-input js-category-input">
                <label for="radio-motiv" class="category-label">oomotiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form js-form js-form-objekt js-form-erlebnis js-form-motiv">
        {{!-- show explain text when parent class sa-form--selector is triggered by js --}}
        <div class="form-fields-container-large">
            <div class="explain invisible visible-objekt">
                Materielle künstlerische Erzeugnisse, z.B. Bilder, Skulpturen; Online-Angebote, z.B. Filmstreamings.
            </div>
            <div class="explain invisible visible-erlebnis">
                Kulturelle Ereignisse, z.B. Gutscheine für
                Konzerte, Lesungen, Kino, Museen; Workshops und Kurse; besondere Erlebnisse, z.B. Atelierbesuche.
            </div>
            <div class="explain invisible visible-motiv">
                Ich möchte, dass meine Grafiken oder Bilder auf Textilien gedruckt werden.
            </div>
        </div>
        
        {{!-- form fields --}}
        <div class="form-fields-container">
            <div class="form-field">
                <label class="form-field__label">Titel</label>
                <input class="form-field__input" type="text" name="title" required>
            </div>
            <div class="form-field">
                <label class="form-field__label">Kurzbeschreibung</label>
                <textarea class="form-field__input" name="description" rows="4" required></textarea>
                <div class="form-field-help">Dieser Text erscheint auf der Homepage. Bei materiellen Werken fügen Sie bitte Angaben zu Material, Größe, Stil etc. hinzu.<span class="form-field-help__question-mark title title--grid">&nbsp;?</span></div>
            </div>
            <div class="form-field">
                <label class="form-field__label">Preis</label>
                <input class="form-field__input" type="text" name="title" required>
            </div>
        </div>
        <div class="form-fields-container-large">
            <div class="invisible visible-objekt visible-gut">
                <div class="form-check form-check--important">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich spende 100 % der Einnahmen an den Kulturgenerator und unterstütze damit andere Kulturschaffende</label>
                </div>
            </div>
            <div class="invisible visible-objekt visible-gut">
                <div class="form-check form-check--important">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich möchte 50 % der Einnahmen aus dem Verkauf des Angebots erhalten</label>
                </div>
            </div>
            <div class="form-check form-check--important">
                <input class="form-check__checkbox" type="checkbox" name="title" required>
                <label>Ich möchte bei der Gesamtausschüttung des Kulturgenerators berücksichtigt werden</label>
            </div>
            <div class="form-field-help form-field-help--checkbox">Mehrfachnennung möglich.<span class="form-field-help__question-mark title title--grid">&nbsp;?</span></div>
        </div>
        <div class="form-fields-container">
            <div class="form-field">
                <label class="form-field__label">Name, Vorname</label>
                <input class="form-field__input" type="text" name="title" required>
                <div class="form-field-help">Bitte haben Sie Verständnis, dass nur
                    diejenigen bei der Gesamtausschüttung
                    berücksichtigt werden, die hauptberuflich oder nachweislich in hohem Maße
                    ehrenamtlich als Kunst- oder Kulturschaffende arbeiten.<span class="form-field-help__question-mark title title--grid">&nbsp;?</span></div>
                </div>
                <div class="form-field">
                    <label class="form-field__label">Anschrift</label>
                    <input class="form-field__input" type="text" name="title" required>
                </div>
                <div class="form-field">
                    <label class="form-field__label">Webseite (wenn vorhanden)</label>
                    <input class="form-field__input" type="text" name="title" required>
                </div>
                <div class="form-field">
                    <label class="form-field__label">E-Mail-Adresse</label>
                    <input class="form-field__input" type="text" name="title" required>
                </div>
                <div class="form-field">
                    <label class="form-field__label">Institution (wenn vorhanden)</label>
                    <input class="form-field__input" type="text" name="title" required>
                </div>
            </div>
            <div class="form-fields-container-large">
                <div class="form-check">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich bin eingetragenes Mitglied bei der GEMA</label>
                </div>
                <div class="form-check">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich bin eingetragenes Mitglied bei der KSK</label>
                </div>
                <div class="form-check">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich bin eingetragenes Mitglied in einem Berufsverband</label>
                </div>
                <div class="form-check">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Ich habe keine dieser Mitgliedschaften</label>
                </div>
                <div class="form-field form-fields-container">
                    <textarea class="form-field__input" name="description" rows="4" required></textarea>
                    <div class="form-field-help">Bitte erläutern Sie Ihren Anspruch.In diesem Fall behalten wir uns vor, Sie zu kontaktieren. <span class="form-field-help__question-mark title title--grid">&nbsp;?</span></div>
                </div>
                <div class="form-check form-check--warning">
                    <input class="form-check__checkbox" type="checkbox" name="title" required>
                    <label>Hiermit versichere ich, dass ich das Kunstwerk innerhalb von x Tagem nach Verkauf an die Käufer*in verschicke. **</label>
                </div>
            </div>
            <input type="submit" class="sa-form__button button" value="Kunstwerk einreichen &#x23ce;">
        </form>
    </div>
