<div class="sa-container">
    <div class="sa-container__heading title title--grid">kölner<br><span class="title">kultur</span> einreichen</div>

    <div class="categories title title--grid">
        kultur&nbsp;
        <div>
            <div class="category">
                <input type="radio" name="category" value="gut" id="radio-gut" class="js-category-selection hidden-input category__input">
                <label for="radio-gut" class="category__label">&nbsp;&nbsp;objekt</label>
            </div>
            <div class="category">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="js-category-selection hidden-input category__input">
                <label for="radio-erlebnis" class="category__label">&nbsp;&nbsp;erlebnis</label>
            </div>
            <div class="category">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="js-category-selection hidden-input category__input">
                <label for="radio-motiv" class="category__label">&nbsp;&nbsp;motiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form js-form js-form-gut js-form-erlebnis" action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
        {{!-- input names must be the same as header row in google sheet --}}
        <div class="title title--grid">bilder hochladen</div>
        <div class="iu">
            <div class="iu__input-container">
                <input type="file" class="hidden-input js-file-input" id="file-input">
                <label for="file-input" class="iu__file-input-button">Wählen Sie eine Datei</label>
                <div class="js-hidden-image-data"></div>
            </div>
            <div class="js-file-container">
                {{!-- JavaScript pastes files here --}}
                {{!-- <div class="iu__file">www.archplus.net.jpeg<span class="iu__file-remove js-file-remove">x</span></div> --}}
            </div>
        </div>
        <input type="text" class="sa-form__input" name="title" placeholder="Titel" required>
        <textarea class="sa-form__input sa-form__input--description" name="description" placeholder="Kurzbeschreibung" required></textarea>
        <input type="text" class="sa-form__input sa-form__input--price" name="description" placeholder="Preis" required>
        <div class="contribution">
            <div>
                <input type="checkbox" name="">
                <label>Ich spende 100% der Einnahmen an den Kulturgenerator und unterstütze damit andere Kulturschaffende</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Ich möchte 50 % der Einnahmen aus dem Verkauf des Angebots erhalten</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Ich möchte bei der Gesamtausschüttung des Kulturgenerators berücksichtigt werden</label>
            </div>
        </div>
        <div class="title title--grid categories">zur person</div>
        <input type="text" name="" class="sa-form__input sa-form__input--full" placeholder="name; vorname">
        <input type="text" name="" class="sa-form__input sa-form__input--full" placeholder="berufsbezeichnung">
        <input type="text" name="" class="sa-form__input sa-form__input--full" placeholder="anschrift">
        <input type="text" name="" class="sa-form__input sa-form__input--full" placeholder="e-mail adresse">
        <input type="text" name="" class="sa-form__input sa-form__input--full" placeholder="institution">
        <div class="person">
            <div>
                <input type="checkbox" name="">
                <label>Ich bin eingetragenes Mitglied bei der GEMA</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Ich bin eingetragenes Mitglied bei der KSK</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Ich bin eingetragenes Mitglied in einem Berufsverband</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Ich habe keine dieser Mitgliedschaften</label>
            </div>
            <div>
                <input type="checkbox" name="">
                <label>Hiermit versichere ich, dass ich das Kunstwerk innerhalb von x Tagem nach Verkauf an die Käufer*in verschicke. **</label>
            </div>
        </div>
        <input type="submit" class="button button--sa-form" value="Senden &#x23ce;">
    </form>

    <form class="sa-form js-form js-form-motiv">
        Hier kommt das Motiv Formular hin.
    </form>
</div>
