<div class="submit-art-container">
    <div class="submit-art-container__title">kölner<br> kultur einreichen</div>
    <div class="categories">
        kultur&nbsp;
        <div class="category-selection">
            <div>
                <input type="radio" name="category" value="gut" id="radio-gut" class="js-category-selection">
                <label for="radio-gut">gut</label>
            </div>
            <div>
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="js-category-selection">
                <label for="radio-erlebnis">erlebnis</label>
            </div>
            <div>
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="js-category-selection">
                <label for="radio-motiv">motiv</label>
            </div>
        </div>
    </div>

    <form class="saf js-form js-form-gut js-form-erlebnis" action="https://script.google.com/macros/s/AKfycby4Ti9QvWXWkpzRx4ia9Ea91sP1bdCSU_4N9U1sxMoICNqPWbs/exec" method="post">
        {{!-- input names must be the same as header row in google sheet --}}
        <input type="text" name="title" placeholder="Titel der Arbeit">
        <input type="text" name="description" placeholder="Kurze Beschreibung des Werks">
        <div class="js-hidden-image-data"></div>
        <input type="file" class="js-file-input">
        <input type="submit">
    </form>

    <form class="saf js-form js-form-motiv">
        Hier kommt das Motiv Formular hin.
    </form>
</div>
