<div class="sa-container">
    <div class="sa-container__heading title title--grid">kölner<br><span class="title">kultur</span> einreichen</div>

    {{!-- show form based on category selection --}}
    <div class="categories">
        <div class="title title--grid">kultur&#160;</div>
        <div>
            <div class="title title--grid">
                <input type="radio" name="category" value="objekt" id="radio-objekt" class="hidden-input category-input js-category-input" checked>
                <label for="radio-objekt" class="category-label">ooobjekt</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="erlebnis" id="radio-erlebnis" class="hidden-input category-input js-category-input">
                <label for="radio-erlebnis" class="category-label">ooerlebnis</label>
            </div>
            <div class="title title--grid">
                <input type="radio" name="category" value="motiv" id="radio-motiv" class="hidden-input category-input js-category-input">
                <label for="radio-motiv" class="category-label">oomotiv</label>
            </div>
        </div>
    </div>

    <form class="sa-form js-form js-form-objekt js-form-erlebnis js-form-motiv">
        {{!-- show explain text when parent class sa-form--selector is triggered by js --}}
        <div class="explain invisible visible-objekt">
            Materielle künstlerische Erzeugnisse, z.B. Bilder, Skulpturen, Fotografien, Texte.
        </div>
        <div class="explain invisible visible-erlebnis">
            Kulturelle Ereignisse, Online-Angebote oder Kurse und Workshops, z.B. Gutscheine für Konzerte, Lesungen, Kino;  Sonderveranstaltungen; Streaming-Angebote für Filme; besondere Erlebnisse, z.B. Atelierbesuche.
        </div>
        <div class="explain invisible visible-motiv">
            Die Niehler Freiheit druckt Grafiken und Fotografien auf Textilien. Hier können die Motive hochgeladen werden.
            Benötigt werden dafür einfarbige Entwürfe. Das maximale druckbare
            Format beträgt 30x40cm. Die Datei muss als entweder als Vektorgrafik angelegt sein (hier ist eine ca. 0,5mm Linie noch scharf darstellbar) oder als Bitmap in Graustufen mit 300 DPI und gerastert (eine fotorealistischer Druck funktioniert am besten mit: Halbtonraster Rasterweite 27 Linien pro Zoll, 22,5Grad gewinkelt, Form: Ellipse). Eine Kombination von Beidem ist möglich.
        </div>
        
        {{!-- FORM INPUTS --}}
        {{!-- hidden input for category selection --}}
        <input type="hidden" class="js-selected-category" name="category" value="">

        {{!-- image upload --}}
        <div class="form-group">
            <label class="form-group__label">Bild hochladen <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="file" name="image" required>
            
            {{!-- help text for objekt and erlebnis --}}
            <div class="form-help invisible visible-objekt visible-erlebnis">Der Kunstschaffende stellt das Bild für die Verwendung auf der Homepage von seinem Gebrauch des Urheberrechts auf unbefristete Zeit, spätestens bis zum Ende der Präsentation für die Aktion, frei.<span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
            
            {{!-- help text for for motiv --}}
            <div class="form-help invisible visible-motiv">Mit dem Upload versichere ich, dass ich Urheber*in des eingereichten Motivs bin. <span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
        </div>

        {{!-- title --}}
        <div class="form-group">
            <label class="form-group__label">Titel <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="text" name="title" required>
        </div>

        {{!-- description --}}
        <div class="form-group">
            <label class="form-group__label">Kurzbeschreibung <span class="form-group__required">*</span></label>
            <textarea class="form-group__input" name="description" rows="4" required></textarea>
            <div class="form-help">Dieser Text beschreibt ihr Angebot und erscheint auf der Homepage. Bei materiellen Werken fügen Sie bitte Angaben zu Material, Größe, Stil etc. hinzu. Bei Veranstaltungen oder ähnlichem, bitte Angaben zu Menge und voraussichtlichem Datum<span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
        </div>
        <div class="form-group">
            <label class="form-group__label">Preis <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="text" name="title">
        </div>

        {{!-- Max width length for checkbox form fields --}}
        <div class="form-group form-group--wide">
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich spende 100 % der Einnahmen an den Kulturgenerator und unterstütze damit andere Kulturschaffende</label>
            </div>
            <div class="form-check invisible visible-objekt visible-erlebnis">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich möchte 50 % der Einnahmen aus dem Verkauf des Angebots erhalten</label>
            </div>
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich möchte bei der Gesamtausschüttung des Kulturgenerators berücksichtigt werden</label>
            </div>
            <div class="form-help form-help--checkbox invisible visible-objekt visible-erlebnis">Mehrfachnennung möglich.<span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
        </div>

        {{!-- Data related to person --}}
        <div class="form-group">
            <label class="form-group__label">Name, Vorname <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="text" name="title">
        </div>
        <div class="form-group">
            <label class="form-group__label">Anschrift <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="text" name="title">
        </div>
        <div class="form-group">
            <label class="form-group__label">Künstlerische Tätigkeit <span class="form-group__required">*</span></label>
            <textarea class="form-group__input" name="title"></textarea>
            <div class="form-help invisible visible-erlebnis visible-objekt">Bitte haben Sie Verständnis, dass nur
                diejenigen bei der Gesamtausschüttung berücksichtigt werden, die hauptberuflich oder nachweislich in hohem Maße ehrenamtlich als Kunst- oder Kulturschaffende arbeiten.<span class="form-help__question-mark title title--grid">&nbsp;?</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group__label">E-Mail-Adresse <span class="form-group__required">*</span></label>
            <input class="form-group__input" type="text" name="title">
            <div class="form-help">Diese E-Mail-Adresse werden wir für eventuelle Auszahlungen per Paypal benutzen. Falls Sie noch keinen Paypal Account haben, können Sie auch nach Zahlungseingang einen erstellen.<span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
        </div>
        <div class="form-group">
            <label class="form-group__label">Webseite</label>
            <input class="form-group__input" type="text" name="title">
        </div>
        <div class="form-group">
            <label class="form-group__label">Institution</label>
            <input class="form-group__input" type="text" name="title">
        </div>

        {{!-- Checkboxes only visible for Objekt and Erlebnis Funnel --}}
        <div class="form-group form-group--wide invisible visible-objekt visible-erlebnis">
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich bin ein Veranstaltungsort</label>
            </div>
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich bin eingetragenes Mitglied bei GEMA, KSK oder einem Berufsverband</label>
            </div>
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich habe keine dieser Mitgliedschaften</label>
            </div>
            <div class="form-group form-group--small">
                <textarea class="form-group__input" name="description" rows="4"></textarea>
                <div class="form-help">Bitte erläutern Sie Ihren Anspruch.In diesem Fall behalten wir uns vor, Sie zu kontaktieren. <span class="form-help__question-mark title title--grid">&nbsp;?</span></div>
            </div>
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Hiermit versichere ich, dass ich das Kunstwerk nach Verkauf schnellstmöglich an die Käufer*in verschicke oder anderweitig übergebe.</label>
                <span class="form-group__required">*</span>
            </div>
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich versichere, dass meine Angaben der Wahrheit entsprechen und dass ich hauptberuflich als Künstler*in tätig bin. Ich bin damit einverstanden, dass meine Angaben im Rahmen der Abwicklung verwendet und verwahrt werden.</label>
                <span class="form-group__required">*</span>
            </div>
        </div>

        {{!-- Checkboxes only visible for Motiv funnel --}}
        <div class="form-group form-group--wide invisible visible-motiv">
            <div class="form-check">
                <input class="form-check__checkbox" type="checkbox" name="title">
                <label>Ich bin damit einverstanden, dass meine Angaben im Rahmen der Abwicklung verwendet und verwahrt werden.</label>
                <span class="form-group__required">*</span>
            </div>
        </div>

        {{!-- Submit Button --}}
        <input type="submit" class="sa-form__button button" value="Einreichen &#x23ce;">
    </form>
</div>
