{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Anmeldung bestätigt' }}
<div class="intro">
  <b>Anmeldung bestätigt.</b>
  Vielen Dank für Ihr Interesse am <span class="title">kulturgenerator</span>. Über Neuigkeiten informieren wir Sie ab sofort per E-Mail. Sie können sich jederzeit vom Verteiler abmelden, indem Sie in einer E-Mail auf den Abmeldelink klicken. 
</div>
<div class="flyer"><img src="assets/images/kaestchen.gif"></div>
{{> _founders }}
{{/_layout}}