{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='FAQ | Kulturgenerator' }}
<div class="intro">
    <a href="/index.html">
        <img class="back-arrow" src="assets/images/back-arrow.svg" alt="Ein Pfeil der nach links zeigt">
    </a>
<p>
    <b>Was ist der Kulturgenerator?</b><br>
    Ein virtueller Laden auf Zeit, der Angebote von Künstler*innen und Kulturschaffenden präsentiert und welche über einen Zufallsgenerator erworben werden können. 
</p>
<p>
    <b>An wen richtet sich der Kulturgenerator?</b><br>
An Kultureinrichtungen genauso wie an freischaffende Künstler*innen aus allen Sparten. An Akteure, die ein Angebot verkaufen wollen, aber die Einnahmen davon spenden wollen. An Bedürftige, die aktuell von bestehenden Maßnahmen benachteiligt werden und von diesen Spenden profitieren sollen.
</p>

<p><b>Was kann ein Angebot sein?</b><br>
Materielle künstlerische Werke, Filme zum Stream, aber auch Angebote für Lesungen, Führungen, Kurse usw., die nach dem Wiedereröffnen der Häuser genutzt werden können, sind erlaubt und erwünscht. 
</p>

<p><b>Wie werden die Angebote dort präsentiert?</b><br>
Jedem*r Websitebesucher*in wird durch die Betätigung des Generators ein Produkt mit den dazugehörigen Informationen angezeigt, das dann zu einem Mindestpreis erworben werden kann. </p>

<p><b>Darf mehrmals geklickt werden?</b><br>
Ja.</p>

<p><b>Warum dieses Zufallsprinzip?</b><br>
Es macht Lust auf Entdeckungen und weitet den Blick auf die diverse Kulturszene der Stadt auch in der Zeit ihrer Unsichtbarkeit. Gleichzeitig wollen wir verhindern, dass die Kultur im digitalen Raum als Massenware abgebildet wird, sondern individuell Aufmerksamkeit bekommt.</p>

<p><b>Wie kann man mitmachen?</b><br>
Indem Sie Ihr Angebot mit Bild, Kontaktdaten und Bankverbindung in das Formular eintragen, das wir Ihnen zusenden.</p>

<p><b>Wie viel darf ein Angebot kosten?</b><br>
Sie können selbst den Mindestpreis festlegen, zu dem es verkauft werden soll. </p>

<p><b>Bekomme ich Geld wenn mein Angebot verkauft wird?</b><br>
Nicht direkt. Ihr Angebot wird vom Kulturrat zu einem symbolischen Preis von 10 Euro gekauft und zu dem von Ihnen festgelegten Mindestpreis (z.B. 100 Euro) wieder verkauft. Alle Einnahmen kommen in einen Topf und fließen über einen Verteilungsschlüssel als Spende wieder zurück. </p>

<p><b>Wer profitiert von den Einnahmen?</b><br>
Die Aktion zielt auf die Unterstützung von Künstler*innen, die aktuell von bestehenden Hilfeleistungen vergessen werden. Jedoch grundsätzlich alle Beteiligten, die ein Angebot eingereicht haben. Anbieter*innen können bei der Einreichung angeben, dass sie nicht von den Einnahmen profitieren wollen, um Bedürftige zu unterstützen. </p>

<p><b>Wer beschließt den Verteilungsschlüssel?</b><br>
Der Kölner Kulturrat.</p>

<p><b>Wie werden die Angebote zu den Käufer*innen gebracht?</b><br>
Innerhalb von Köln übernimmt die Niehler Freiheit den Transport. Über Köln hinaus werden die Produkte direkt von den Anbieter*innen verschickt.</p>

<p><b>Profitieren auch Anbieter*innen von Käufen, deren Produkt nicht verkauft wird?</b><br>
Ja. Die Einnahmen werden unter Berücksichtigung aller Beteiligten zum jeweiligen Zeitpunkt verteilt.</p>

<p><b>Darf mehr als der angegebene Preis gezahlt werden?</b><br>
Ja. Der angegebene Preis ist eine Mindestpreisempfehlung. Den Käufern wird über diesen Weg auch die Möglichkeit geboten mehr zu bezahlen und das Projekt zu unterstützen.</p>

</div>
{{/_layout}}