{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='FAQ | Kulturgenerator' }}
<div class="intro longer-text-container">
    <a href="/index.html">
        <img class="back-arrow" src="assets/images/back-arrow.svg" alt="Ein Pfeil der nach links zeigt">
    </a>
<p>
    <b>Was ist der Kulturgenerator?</b><br>
    Eine generöse Umverteilungsmaschine und ein virtueller Laden auf Zeit, ein Experiment und eine Plattform, die Angebote von Künstler*innen und Kulturschaffenden aller Sparten präsentiert und die Sichtbarkeit der Szene erhöht. Im Generator gibt es keine Hierarchie, jedes Angebot erscheint zufällig und gleichberechtigt angeordnet nebeneinander.
</p>
<p>
    <b>Wie funktioniert der Kulturgenerator?</b><br>
Indem Angebote in den Kulturgenerator eingespeist werden. Der Generator wandelt diese durch Verkäufe in monetäre Energie um und sammelt sie in einem expansiven Kessel. Alle Teilnehmenden können sich entscheiden, ob sie 1. ihr Angebot zu 100% spenden wollen und auf Einnahmen verzichten oder 2. bei Verkauf 50% der Einnahmen erstattet bekommen, um etwaige Produktionskosten und Versandkosten zu decken und/oder 3. an der Gesamtausschüttung beteiligt werden wollen. Am 30. Juni fließt schließlich die gesammelte Energie zurück. So profitieren aktuell benachteiligte Künstler*innen von der Großzügigkeit anderer, und alle bleiben sichtbar.
</p>

<p><b>An wen richtet sich der Kulturgenerator?</b><br>
An Kultureinrichtungen, wie Institutionen oder Kollektive, genauso wie an freischaffende Künstler*innen aus allen Sparten. Hierbei ist es uns wichtig, dass auch die diejenigen Künstler*innen angesprochen werden, die bei den bisherigen Hilfsangeboten nicht berücksichtigt worden sind. Es werden auch Angebote von Akteuren entgegengenommen, die sich in der Kulturszene in hohem Maße ehrenamtlich engagieren, wenn sie dies nachvollziehbar ersichtlich machen können.
</p>

<p><b>Gibt es eine Plausibilitätsprüfung?</b><br>
Ja. Die Generierung aus den Spenden soll Künstler*innen und Kulturschaffenden zugute kommen, die aktuell durch die Umstände in finanzielle Schwierigkeiten kommen oder gekommen sind. Sie können im Formular angeben, ob Sie Mitglied in der KSK oder einem anderen Berufsverband sind. Bei keiner dieser Mitgliedschaften sind auch andere Nachweise, die auf die Professionalität hinweisen, möglich.</p>

<p><b>Was kann ein Angebot sein?</b><br>
Hier ist eure Kreativität gefragt, prinzipiell gibt es hier keine Grenzen. Wir haben 3 Kategorien an Angeboten, innerhalb dieser ihr euer Angebot einordnen könnt.
<p>1. Materielle künstlerische Werke, Filme zum Stream, aber auch Angebote für Lesungen, Führungen, Kurse usw., die nach dem Wiedereröffnen der Häuser genutzt werden können, sind erlaubt und erwünscht.</p>
<p>2. Grafiken und Designs für Textildrucke, die hochgeladen werden können und von der Niehler Freiheit auf Textilien gedruckt werden. Benötigt werden dafür einfarbige Entwürfe.
Das maximale druckbare Format beträgt <b>30x40cm</b>.
Die Datei muss als entweder als Vektorgrafik angelegt sein (hier ist eine ca. 0,5mm Linie noch scharf darstellbar) oder 
als Bitmap in Graustufen mit 300 DPI und gerastert (eine fotorealistischer Druck funktioniert am besten mit: Halbtonraster Rasterweite 27 Linien pro Zoll, 22,5 Grad gewinkelt, Form: Ellipse). Eine Kombination von Beidem ist möglich. 
</p>
</p>

<p><b>Wie werden die Angebote dort präsentiert?</b><br>
Die angebotenen Produkte werden nach einem Zufallsprinzip präsentiert. So erscheinen sie gleichberechtigt nebeneinander und jedes Mal neu.
</p>

<p><b>Warum dieses Zufallsprinzip?</b><br>
Es macht Lust auf Entdeckungen und weitet den Blick auf die diverse Kulturszene der Stadt, auch in der Zeit ihrer Unsichtbarkeit. Gleichzeitig wollen wir verhindern, dass die Kultur im digitalen Raum als Massenware abgebildet wird, sondern individuell Aufmerksamkeit bekommt.</p>

<p><b>Wie kann man mitmachen?</b><br>
Indem ein Angebot in das Formular eingetragen wird.</p>

<p><b>Wie viel darf ein Angebot kosten?</b><br>
Wir empfehlen bei Objekten den Wert von 200,- € und bei Erlebnissen den Wert von 20,- € pro Angebot / Karte nicht zu unterschreiten.</p>

<p><b>Was passiert, wenn mein Angebot verkauft wird?</b><br>
Der Generator schickt eine E-Mail mit der Bitte, das Produkt oder den Gutschein innerhalb von zwei Wochen an den/die Käufer*in zu schicken.</p>
</div>
{{>_footer}}
{{/_layout}}