{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='FAQ | Kulturgenerator' faq='true' }}
<div class="intro longer-text-container">
    <a href="/index.html" class="back-arrow back-arrow--white">
        ←←←
    </a>
<p>
    <b>Was ist der Kulturgenerator?</b><br>
    Eine generöse Umverteilungsmaschine und ein virtueller Laden auf Zeit, ein Experiment und eine Plattform, die Angebote von Künstler*innen und Kulturschaffenden aller Sparten präsentiert und die Sichtbarkeit der Szene erhöht. Im Generator gibt es keine Hierarchie, jedes Angebot erscheint zufällig und gleichberechtigt angeordnet nebeneinander.
</p>

<p>
    <b>Wie funktioniert der Kulturgenerator?</b><br>
Indem Angebote in den Kulturgenerator eingespeist werden. Der Generator wandelt diese durch Verkäufe in monetäre Energie um. Die Teilnehmenden 
können angeben, ob sie im Falle des Verkaufs 50 oder 100 Prozent ihrer Einnahmen in das solidarische Konto einzahlen möchten. Die dort gesammelten Erlöse werden am Ende unter allen Beteiligten verteilt, unabhängig davon, ob das Angebot verkauft wurde oder nicht. Unser Ziel ist es, im Generator eingenommenes Geld unter allen Beteiligten fair zu verteilen.
</p>

<p><b>An wen richtet sich der Kulturgenerator?</b><br>
An Kultureinrichtungen, wie Institutionen oder Kollektive, genauso wie an freischaffende Künstler*innen aus allen Sparten. Hierbei ist es uns wichtig, dass auch diejenigen Künstler*innen angesprochen werden, die bei den bisherigen Hilfsangeboten nicht berücksichtigt worden sind.
</p>

<p><b>Gibt es eine Plausibilitätsprüfung?</b><br>
Ja. Vom Generator sollen nur diejenigen profitieren, die professionell
als Kunst- und Kulturschaffende tätig sind. Besonders soll er denjenigen zugute kommen, die durch die letzen Monate in finanzielle Nöte gekommen sind. Sie können durch eine kurze Beschreibung ihre kulturschaffende Tätigkeit nachweisen. Als kulturschaffend verstehen wir sowohl Arbeit im Bereich der bildenden, darstellenden und angewandten Kunst, als auch kulturorganisatorische Arbeit. Es werden auch Angebote von Akteur*innen entgegengenommen, die sich in der Kulturszene in hohem Maße ehrenamtlich engagieren. Bitte beachten Sie, dass  nicht jedes eingereichte Angebot in den Generator aufgenommen werden kann. Besonders weisen wir darauf hin, dass rassistische, sexistische, verfassungsfeindliche und anderweitig diskriminierende Inhalte in dem Generator nichts zu suchen haben.</p>

<p><b>Was kann ein Angebot sein?</b><br>
Wir haben drei Kategorien, innerhalb dieser Ihr Angebot einordnen werden kann:
<p>1. Materielle künstlerische Objekte, z.B. Gemälde, Fotografien, Plakate, Zeichnungen, Skulpturen, Skizzen, Druckmedien, Plastiken, Installationen, Bild- und Tonträger.</p>
<p>2. Kulturelle Erlebnisse z.B. Online-Angebote, Kurse, Workshops, Konzerte, Lesungen, Filmvorführungen, Sonderveranstaltungen, Streamingangebote, Atelierbesuche. 
</p>
<p>3. Motive für Textildrucke z.B. einfarbige Grafiken, Zeichnungen, Skizzengrafiken, technische Bilder, Illustrationen, Bitmaps, Vektorgrafiken (Das maximale druckbare Format beträgt 30x40cm) 
</p>
<p>
Da der Textildruck in ehrenamtlicher Arbeit geschieht, bitten wir zu beachten, dass nicht alle Einreichungen gedruckt werden können.
Die Datei muss entweder als Vektorgrafik angelegt sein (hier ist eine ca. 0,5mm Linie noch scharf darstellbar) oder als Bitmap in Graustufen mit 300 DPI und gerastert (eine fotorealistischer Druck funktioniert am besten mit: Halbtonraster Rasterweite 27 Linien pro Zoll, 22,5 Grad gewinkelt, Form: Ellipse). Eine Kombination von Beidem ist möglich.
</p>
</p>

<p><b>Wie werden die Angebote dort präsentiert?</b><br>
Die angebotenen Produkte werden nach einem Zufallsprinzip präsentiert. So erscheinen sie gleichberechtigt nebeneinander und jedes Mal neu.
</p>

<p><b>Warum dieses Zufallsprinzip?</b><br>
Es macht Lust auf Entdeckungen und weitet den Blick auf die diverse Kulturszene der Stadt, auch in der Zeit ihrer Unsichtbarkeit. Gleichzeitig wollen wir verhindern, dass Kultur im digitalen Raum als Massenware abgebildet wird un generieren Aufmerksamkeit für jedes einzelne Angebot.</p>

<p><b>Kann ich beliebig viele Angebote einreichen?</b><br>
Nein, wir bitten Sie nicht mehr als zwei Angebote einzureichen, um anderen die Chance zur Teilnahme zu ermöglichen.
</p>

<p><b>Wie viel darf ein Angebot kosten?</b><br>
Sie können den Preis selbst bestimmen. Wir bitten Sie allerdings um marktübliche Preiseinschätzung Ihrer Arbeiten. </p>

<p><b>Was passiert, wenn mein Angebot verkauft wird?</b><br>
Wenn Ihr Angebot verkauft wird, erhalten Sie einen Kontakt zur Käuferin oder zum Käufer sowie eine Banachrichtigung über das weitere Vorgehen.
</p>
</div>
{{/_layout}}