{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Impressum & Datenschutz | Kulturgenerator' }}
<div class="intro">
    <a href="/index.html">
        <img class="back-arrow" src="assets/images/back-arrow.svg" alt="Ein Pfeil der nach links zeigt">
    </a>

    <div class="longer-text-container">
        <div id="impressum">
          <h2>Impressum</h2>
          <h3>Diensteanbieter</h3>
          <p>Kölner Kulturrat e.V. <br>
              Sachsenring 40<br>
          50677 Köln<br>
          </p>
          <p>Niehler Freiheit e.V.<br>
            Vogelsanger Straße 385b<br>
            50827 Köln
          </p>
          <p>E-Mail: <a class="underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a><br>
        <h3>Haftungshinweis</h3>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>
        <h3>Datenschutzerklärung</h3>
        <p>Wir freuen uns über Ihr Interesse an unserer Website. Der Schutz Ihrer Privatsphäre ist für uns sehr wichtig.
        Nachstehend informieren wir Sie über den Umgang mit Ihren Daten.</p>
        <h3>Erhebung, Verarbeitung und Nutzung personenbezogener Daten:</h3>
        <p>Sie können unsere Seite besuchen, ohne Angaben zu Ihrer Person zu machen. Personenbezogene Daten werden nur erhoben, wenn Sie uns diese im Rahmen der passiven Mitgliedschaft/Anmeldung zum Newsletter freiwillig mitteilen. Bei Anmeldung zum Newsletter wird Ihre E-Mail-Adresse mit Ihrer Einwilligung für eigene Werbezwecke genutzt, bis Sie sich vom Newsletter abmelden. Die Abmeldung ist jederzeit möglich.</p>
        <h3>Weitergabe personenbezogener Daten:</h3>
        <p>Es erfolgt keine Weitergabe personenbezogener Daten an Dritte.</p>
        <h3>Ansprechpartner für Datenschutz:</h3>
        <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten wenden Sie sich bitte an:</p>
        <a class="underlined-link" href="mailto:info@kulturgenerator.de">info@kulturgenerator.de</a>
        <h3>Typeface</h3>
        <p><span class="title">Galapagos</span>, abcdinamo (<a class="underlined-link" href="https://www.abcdinamo.com" target="_blank">www.abcdinamo.com</a>)</p>
  </div>
</div>
</div>
{{> _founders }}
{{/_layout}}