{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Kulturgenerator' }}
<div class="intro">
    Der <span class="heading">kulturgenerator</span> ist virtueller Laden und Kunstprojekt, generöse Maschine und Startschuss für eine Plattform, die spartenübergreifend die Kulturszene Kölns abbilden will. Er ist ein spieltheoretisches Experiment, in dem die Kulturschaffenden selbst entscheiden, ob und wie viel sie vom Erlös des Verkaufs ihrer Arbeit in ein solidarisches Konto einzahlen möchten. Unser Ziel ist es, im Generator eingenommenes Geld unter allen Beteiligten fair zu verteilen. Am 30.08 wird das generierte Geld erstmalig ausgeschüttet. Als Kulturschaffende*r, Künstler*in oder Institution können Sie nun künstlerische Werke, kulturelle Erlebnisse und Motive für Textildrucke einreichen. Für mehr Informationen lesen Sie bitte das <a class="underlined-link underlined-link--blue" href="faq.html">FAQ</a>.
</div>
<img src="assets/images/arrows.svg" class="blue-arrows">
{{> _submit-art-form }}
{{> _footer }}
{{/_layout}}