{{! render content in _layout partial; pass title to _layout partial}}
{{#> _layout title='Kulturgenerator' }}
<div class="intro">
    Der <span class="heading">kulturgenerator</span> ist virtueller Laden und Kunstprojekt, generöse Maschine und Startschuss für eine Plattform, die die Kulturszene Kölns spartenübergreifend abbilden will. Er ist ein spieltheoretisches Experiment, in dem alle mehr profitieren, wenn jede*r Einzelne bereit ist zu geben. Als Kulturschaffende*r, Künstler*in oder Institution können Sie nun künstlerische Werke, kulturelle Erlebnisse und Motive für Textildrucke eingeben. Das generierte Geld wird am 30. Juni an alle Teilnehmer*innen verteilt. Für mehr Informationen lesen Sie bitte das <a class="underlined-link" href="faq.html">FAQ</a>.
</div>
<img src="assets/images/arrows.svg" class="blue-arrows">
{{> _submit-art-form }}
{{> _footer }}
{{/_layout}}