<div class="navigation">
    <a class="navigation-element underlined-link" href="mailto:info@kulturgenerator.org">info@kulturgenerator.org</a> <br> 
    <a class="navigation-element underlined-link" href="impressum.html">Impressum & Datenschutz</a>
</div>