// submit art form
.sa-container {
  @include galapagos-margin-top(1);
  max-width: $form-width-wide;
}

.sa-container__explain {
  @include galapagos-margin-top(1);
  @include galapagos-margin-bottom(1);
  color: $orange;

  @media screen and (min-width: $bp-tablet) {
    @include galapagos-margin-top(1);
    @include galapagos-margin-bottom(1);
  }
}

.form-group {
  @include galapagos-margin-bottom(1);
  max-width: $form-width-small;

  &--wide {
    max-width: 100%; // max form width is defined in class sa-form
  }

  &--small { // only used for inline textform within checkbox region
    max-width: $form-width-small;
  }

  &--adress {
    display: flex;
    flex-shrink: 0;
  }
}

.form-group__postal {
  width: 30%;
  margin-right: 1rem;

  @media screen and (min-width: $bp-tablet) {
    width: 20%;
  }
}

.form-group__place {
  width: 100%;
}

.iu-container {
  border: 1px solid $grey;
  padding: .725rem;

  @media screen and (min-width: $bp-tablet) {
    padding: 1.125rem;
  }
}

.iu-image {
  display: flex;
  margin-bottom: .25rem;

  &:first-of-type {
    margin-top: .5rem;
  }

  & .file-name {
    display:list-item;
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
}

.sa-form__error {
  margin-top: 1rem;
}

.form-group__label {
  display: inline-block;
  margin-bottom: 1rem;
}

.form-group__input {
  display: block;
  background-color: $white;
  width: 100%;
  padding: .725rem;
  color: $dark-grey;
  border: 1px solid $grey;
  line-height: 1.5;

  @media screen and (min-width: $bp-tablet) {
    padding: 1.125rem;
  }

  &:focus {
    background-color: $white;
    border-color: $blue;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.form-field-required {
  color: $blue;
}

.form-help {
  color: $dark-grey;
  padding-top: .725rem;

  @media screen and (min-width: $bp-tablet) {
    position: relative;
    padding-right: $font-size-laptop-big + 16px; // 16px equals 1 rem
  }

  &--checkbox {
    max-width: $form-width-small;
    margin-top: 1.5rem;
  }

  // show question mark only on desktop computers
  &__question-mark {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      color: $dark-grey;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.donation-thank-you {
  display: none;
  color: $blue;
}

.form-check {
  position: relative;
  line-height: 1.2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  max-width: $form-width-wide;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 2.5rem;
  }

  &__checkbox {
    position: absolute;
    margin-top: .4rem;
    margin-left: -2rem;

    @media screen and (min-width: $bp-tablet) {
      margin-left: -2.5rem;
    }
  }
}

.form-group__submit {
  @include galapagos-margin-top(1);
}

// saving spinner
@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
.saving {
  line-height: 1;
  font-family: $font-family-galapagos;
  font-size: $font-size-mobile-big;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-huge;
  }
}

.saving span {
  color: $blue;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}