// home page
.intext-title {
  font-size: 20px; // prevent linebreak on smaller devices (iphone 5)
  font-family: $font-family-galapagos;
  font-weight: bold; // only used when Galapagos is not loaded

  @media screen and (min-width: $bp-smartphone) {
    font-size: inherit;
  }
}