// home page
.intext-title {
  font-size: 30px; // prevent linebreak on smaller devices (iphone 5)
  font-family: $font-family-galapagos;
  font-weight: bold; // only used when Galapagos is not loaded

  @media screen and (min-width: $bp-smartphone) {
    font-size: inherit;
  }
}

.blue-content {
  background-color: $blue;
  color: $white;
  text-rendering: optimizeLegibility;
  min-height: 100vh;

  .header__to-shop-btn {
    color: $white;
  }
}