.artwork-list-item {
  line-height: 1.2;
  float: left;
  margin: 3rem .725rem 3rem .725rem;
  font-size: $font-size-mobile;

  @media screen and (min-width: $bp-smartphone) {
    margin: 3rem 1rem 3rem .725rem;
  }
  
  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop;
    margin: 3rem 2rem 4rem 2rem;
  }
}

// Sold artworks
.artwork-list-item--sold {
  .artwork-list-item__price {
    display: none;
  }
  
  .artwork-list-item__author {
    text-decoration:line-through;

    // red dot
    &:before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: $red;
      border-radius: 50%;
      display: inline-block;
      margin-right: .5rem;
      margin-bottom: .1rem;
    }
  }
  
  .artwork-list-item__title {
    text-decoration:line-through;
  }
}

.artwork-list-item__image {
  display: block;
  width: 100%;
  margin-bottom: .9rem;
}

.artwork-list-item__author {
  text-transform: uppercase;
}

.artwork-list-item__price {
  font-family: $font-family-galapagos;
  color: $blue;
}

.hover-slideshow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--backgroundImage-0), var(--backgroundImage-1), var(--backgroundImage-2);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    animation: changeBg 2s infinite;

    @media screen and (min-width: $bp-tablet) {
      animation: none;
    }
  }
}

@media screen and (min-width: $bp-tablet) {
  .hover-slideshow:hover {
    &:before {
      animation: changeBg 1s infinite;
      animation-iteration-count: 1;
    }
  }
}

@keyframes changeBg{
   0%  {background-image: var(--backgroundImage-0);}
   33% {background-image: var(--backgroundImage-1);}
   66% {background-image: var(--backgroundImage-2);}
}
