.artwork-list-item {
  font-size: $font-size-mobile-small;
  padding: 0 6px 30px;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop;
    padding: 0 10px 30px;
 }
}

.artwork-list-item__image {
  width: 100%;
  margin-bottom: 6px;
}

.artwork-list-item__author {
  text-transform: uppercase;
}

.artwork-list-item__price {
  font-family: $font-family-galapagos;
  color: $blue;
}