.info-box {
  margin: .725rem .725rem 1.725rem;
  color: $blue;
  

  @media screen and (min-width: $bp-tablet) {
    margin: 1rem 2rem 2rem;
  }  
}

.artwork-list {
  margin-top: 1rem;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 2rem;
    padding-right: 140px;
  }
}