.artwork-detail {
  max-width: 720px;
  margin: 3rem 1rem 0;

  @media screen and (min-width: $bp-tablet) {
    margin: 5rem auto 0;
  }
}

.carousel {
  text-align: center; // center images that are reduced in size
}

.carousel__image {
  max-width: 100%;
  max-height: 500px;
}

.artwork-detail__title {
  font-family: $font-family-galapagos;
  font-size: $font-size-mobile-big;
  line-height: 1;
  text-align: center;
  word-wrap: break-word;
  margin: 3rem 0 3rem;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-huge;
  }
}

.artwork-detail__author {
  text-transform: uppercase;
}

.artwork-detail__description {
  margin-bottom: 3rem;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 6rem;
  }
}

.artwork-detail__checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6rem;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
  }
}

.artwork-detail__price {
  font-family: $font-family-galapagos;
  font-size: $font-size-mobile-big;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-huge;
  }
}

.artwork-detail__share-percentage {
  @media screen and (min-width: $bp-tablet) {
    display: block;
    font-family: $font-family-galapagos;
    font-size: $font-size-laptop-huge;
  }
}

.artwork-detail__sold {
  &:before {
    content: "";
    height: 14px;
    width: 14px;
    background-color: $red;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
  }
}

.artwork-detail__quantity {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: $black;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-small;
  }
}

.artwork-detail__generator-share {
  flex: 0 1 45%;
  color: $blue;
}

.artwork-detail__payment-button {
  margin-right: 18px;
  font-family: inherit;
  font-size: $font-size-mobile-big;
  margin-top: auto;
  position: relative;
  margin-bottom: 1rem;

  @media screen and (min-width: $bp-tablet) {
    width: 50%;
    margin-bottom: 3rem;
  }

  button {
    margin-bottom: 1rem;
    background-color: $white;
    border: 1px solid $black;
    padding: 1rem 1rem .5rem;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
    }

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 2rem;
      font-size: $font-size-laptop-big;
    }
  }
}
