.artwork-list {
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    padding-right: 100px;
  }

  &--archive {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }
}