.artwork-list-item {
  line-height: 1.2;
  float: left;
  margin: 1.25rem 0px 0px .725rem;
  font-size: $font-size-mobile;
  
  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop;
    margin-left: 2rem;
  }

  &--archive {
    margin: 3rem .725rem 3rem .725rem;

    @media screen and (min-width: $bp-smartphone) {
      margin: 3rem 1rem 3rem .725rem;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: $font-size-laptop;
      font-size: $font-size-laptop;
      margin-left: 2rem;
      margin: 3rem 2rem 4rem 2rem;
    }
  }
}

// Sold artworks
.artwork-list-item--sold {
  .artwork-list-item__price {
    display: none;
  }
  
  .artwork-list-item__author {
    text-decoration:line-through;

    // red dot
    &:before {
      content: "";
      height: 10px;
      width: 10px;
      background-color: $red;
      border-radius: 50%;
      display: inline-block;
      margin-right: .5rem;
      margin-bottom: .1rem;
    }
  }
  
  .artwork-list-item__title {
    text-decoration:line-through;
  }
}

.artwork-list-item__image {
  width: 100%;
  margin-bottom: .9rem;
}

.artwork-list-item__author {
  text-transform: uppercase;
}

.artwork-list-item__price {
  font-family: $font-family-galapagos;
  color: $blue;
}

