.checkout {
    margin-bottom: 120px;
}

.checkout-form {
    section {
        margin-bottom: 60px;
    }

    h2 {
        font-size: $font-size-mobile-big;
        font-weight: normal;

        @media screen and (min-width: $bp-tablet) {
            font-size: $font-size-desktop-big;
        }
    }
    
}

.checkout-form__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-form__item {
    flex: 0 1 45%;
}

.checkout-form__text-input {
    width: 100%;
    margin-bottom: 22px;
    margin-top: 10px;
}

.price-summary {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 60px;   
    }
}

.price-summary__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    border-bottom: 2px solid #000;
    margin-bottom: 12px;        
}
.price-summary__item--total {
    color: $blue;
}
.price-summary__item--invalid {
    div {
        padding: 2px 0;
        background: pink;
    }
}
.price-summary__item--input {
    padding-bottom: 2px;
    
    input#quantity {
        text-align: right;
        width: 45px;
    }
}
.price-summary__item:last-child {
    border-bottom: none;
}

.paypal__buttons {
    width: 50%;    
}

.paypal__description {
    color: $medium-gray;
    font-weight: normal;
}

.payment-success {
    padding: 30px; 
    background: lightgreen;    
}