.footer-container {
  margin-top: 6rem;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 10rem;
  }
}

.navigation {
  margin-bottom: 2rem;
}

.navigation-element {
  display: inline-block;
  margin-bottom: 1rem;

  &::before {
    color: $blue;
    font-family: $font-family-galapagos;
    content: "↗";
    margin-right: .5rem;
  }
}

.founders {
  margin-bottom: 2rem;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: 5rem;
  }
}

.founders__logos {
  display: flex;
  align-items: center;
}

.founder-link {
  display: inline-block;
  margin-right: 1.5rem;

  @media screen and (min-width: $bp-tablet) {
    margin-right: 2rem;
  }

  &--kk {
    width: 55px;

    @media screen and (min-width: $bp-tablet) {
      width: 70px;
    }
  }

  &--wf {
    margin-left: 1rem;
    width: 60px;
    
    @media screen and (min-width: $bp-tablet) {
      width: 70px;
    }
  }

  &--nf {
    margin-left: -1.5rem;
    width: 160px;

    @media screen and (min-width: $bp-tablet) {
      margin-left: -2rem;
      width: 190px;
    }
  }

  &--sponsors {
    width: 90px;
    margin-right: 2.5rem;
    
    @media screen and (min-width: $bp-tablet) {
      width: 110px;
    }
  }
}

.founder-img {
  width: 100%;
}