.footer-container {
  margin-top: 6rem;

  @media screen and (min-width: $bp-tablet) {
    margin-top: 10rem;
  }
}

.navigation {
  margin-bottom: 2rem;
}

.navigation-element {
  display: inline-block;
  margin-bottom: 1rem;

  &::before {
    color: $blue;
    font-family: $font-family-galapagos;
    content: "↗";
    margin-right: .5rem;
  }
}

.founders {
  display: flex;
}

.founders__logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  width: 100%;
  max-width: $big-container-width;

  @media screen and (min-width: $bp-tablet) {
    justify-content: space-between;
  }
}

.founder-link {
  display: inline-block;
  margin-bottom: 2rem;

  @media screen and (min-width: $bp-tablet) {
    margin-right: 2rem;
  }

  &--kk {
    width: 55px;

    @media screen and (min-width: $bp-tablet) {
      width: 70px;
    }
  }

  &--wf {
    margin-left: 3rem;
    width: 60px;
    
    @media screen and (min-width: $bp-tablet) {
      width: 70px;
    }
  }

  &--nf {
    width: 150px;

    @media screen and (min-width: $bp-tablet) {
      width: 190px;
    }
  }

  &--sponsors {
    width: 90px;
    margin-right: 2.5rem;
    
    @media screen and (min-width: $bp-tablet) {
      width: 110px;
    }
  }
}

.breaker {
  display: block;
  width: 100%;
  height: 0;

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}

.founder-img {
  width: 100%;
}