.header {
  color: $blue;
  font-family: $font-family-galapagos;
  font-size: $font-size-mobile-galapagos;
  margin-bottom: 12px;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-galapagos;
    margin-bottom: 40px;
  }
}

.header__back-button {
  border-bottom: 2px solid $blue;
}
