.header {
  color: $blue;
  font-family: $font-family-galapagos;
  font-size: $font-size-mobile-huge;
  line-height: 1;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop-huge;
  }
}

.header__back-button {
  z-index: $z-level-1; // back button has higher priority than moneypool click
  margin-top: -13px; // to center galapagos
  border-top: 1px solid $blue;

  @media screen and (min-width: $bp-tablet) {
    border-top: 2px solid $blue;
    margin-top: -18px; // to center galapagos
  }
}
