.moneypool-banner {
  margin-bottom: -8px; // to center galapagos

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: -13px; // to center galapagos
  }
}

.moneypool-banner--border {
  border-top: 1px solid $blue;

  @media screen and (min-width: $bp-tablet) {
    border-top: 2px solid $blue;
  }
}