.purchase {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: $blue;
}

.purchase__sucess {
  margin-bottom: 6rem;
}

.purchase__img {
  width: 100%;
}

@media screen and (min-width: $bp-tablet) {
  .purchase__instructions {
    display: flex;
    align-items: center;
  }

  .purchase__img-container {
    width: 42%;
  }
  .purchase__message {
    margin-left: 5rem;
  }
}