// Global styles
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('assets/GalapagosA-Regular.woff2') format('woff2'), url('assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-RegularGrid';
  src: url('assets/GalapagosA-RegularGrid.woff2') format('woff2'), url('assets/GalapagosA-RegularGrid.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-Black';
  src: url('assets/GalapagosA-Black.woff2') format('woff2'), url('assets/GalapagosA-Black.woff') format('woff');
}

// Constants
$bp-tablet: 680px;
$font-family: 'Inconsolata', monospace;
$font-family-galapagos: 'GalapagosA-Regular', 'Inconsolata', monospace;
$font-family-galapagos-black: 'GalapagosA-Black', 'Inconsolata', monospace;
$z-level-1: 1;
$z-level-above-all: 999;

// Font sizes
$font-size-mobile-small: 14px;
$font-size-mobile: 20px;
$font-size-mobile-big: 26px;
$font-size-mobile-huge: 40px;
$font-size-desktop: 22px;
$font-size-desktop-big: 33px;
$font-size-desktop-huge: 55px;

// Colors
$blue: #0000ee;
$orange: #ff551b;
$black: #000;
$white: #fff;
$light-grey: #eeeeee;
$grey: #ced4da;
$dark-grey: #495057;
$pink: #ffc0cb;
$red: rgb(255, 35, 0);

// Distances
$spacing-mobile--small: 18px;
$spacing-desktop--small: 30px;
$spacing-mobile--big: 30px;
$spacing-desktop--big: 60px;
$spacing-mobile--large: 42px;
$spacing-desktop--large: 90px;

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
button:focus {
  cursor: pointer;
}

// Border Box for everything
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Global Styles
body {
  font-family: $font-family;
  font-size: $font-size-mobile;
  line-height: 1.5;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.hidden {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.underlined-link {
  color: $black;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: .5;
    bottom: -1px;
    background-color: $black;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }
}
