// Constants
$bp-smartphone: 370px;
$bp-tablet: 680px;
$bp-large: 1400px;

$font-family: 'favorit-mono';
$font-family-galapagos: 'GalapagosA-Regular', 'apercu-mono-regular', monospace;
$font-family-galapagos-black: 'GalapagosA-Black', 'apercu-mono-regular', monospace;
$z-level-1: 1;
$z-level-above-all: 999;

// Mobile font sizes
$font-size-mobile-small: 14px;
$font-size-mobile: 20px;
$font-size-mobile-big: 26px;
$font-size-mobile-huge: 40px; // Moneypool banner

// Laptop font sizes
$font-size-laptop-small: 16px;
$font-size-laptop: 20px;
$font-size-laptop-big: 33px;
$font-size-laptop-huge: 55px;

// Colors
$blue: #0000ee;
$orange: #ff551b;
$black: #000;
$white: #fff;
$yellow: #ffff00;
$light-grey: #eeeeee;
$grey: #ced4da;
$dark-grey: #495057;
$pink: #ffc0cb;
$red: rgb(255, 35, 0);

// Distances
$spacing-mobile--small: 18px;
$spacing-desktop--small: 20px;
$spacing-mobile--big: 30px;
$spacing-desktop--big: 60px;
$spacing-mobile--large: 42px;
$spacing-desktop--large: 90px;

// Font Faces
@font-face {
  font-family: 'apercu-mono-regular';
  src: url('assets/apercu-mono-regular.woff2') format('woff2'), url('assets/apercu-mono-regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('assets/GalapagosA-Regular.woff2') format('woff2'), url('assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('assets/GalapagosA-Regular.woff2') format('woff2'), url('assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-RegularGrid';
  src: url('assets/GalapagosA-RegularGrid.woff2') format('woff2'), url('assets/GalapagosA-RegularGrid.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-Black';
  src: url('assets/GalapagosA-Black.woff2') format('woff2'), url('assets/GalapagosA-Black.woff') format('woff');
}

@font-face {
  font-family: 'favorit-mono';
  src: url('assets/ABCFavoritEduMono-Regular.otf');
}

// Mixins
@mixin galapagos-margin-bottom($factor) {
  margin-bottom: $factor * $font-size-mobile-huge;

  @media screen and (min-width: $bp-tablet) {
    margin-bottom: $factor * $font-size-laptop-huge;
  }
}

@mixin galapagos-margin-top($factor) {
  margin-top: $factor * $font-size-mobile-huge;

  @media screen and (min-width: $bp-tablet) {
    margin-top: $factor * $font-size-laptop-huge;
  }
}

// Global Styles
a {
  color: inherit;
  text-decoration: none;
}


button:hover,
button:focus {
  cursor: pointer;
}

// html is set to 62.5% so that all the REM measurements
// are based on 10px sizing. So basically 1.5rem = 15px :)

html { // Border Box for everything
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: $font-size-mobile;
  line-height: 1.3;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop;
  }
}

ul {
  list-style: none;
  padding: 0;
}

// Shared Styles
.hidden {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
}

.link {
  &:hover {
    font-style: italic;

    .artwork-list-item__price {
      font-style: normal;
    }
  }
}

.underlined-link {
  color: inherit;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
    opacity: .5;
    bottom: -1px;
    background-color: $dark-grey;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      opacity: 1;
    }
  }

  &--blue {
    color: $blue;

    &::after {
      background-color: $blue;
    }
  }

  &--red {
    color: $red;

    &::after {
      background-color: $red;
    }
  }
}

.loading-indicator {
  background: #fff;
  position: absolute;
  z-index: $z-level-above-all;
  width: 100%;
  text-align: center;
  padding-top: 47vh;
  height: 50vh;
  font-size: $font-size-mobile;
  font-family: $font-family-galapagos;

  &:before {
    content: '. ';
    animation: dots 1s steps(5, end) infinite;
  }

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-big;
  }
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: $black;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 $black,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 $black,
      .5em 0 0 $black;}
}

// content
.content {
  padding: 2rem .725rem .725rem;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $bp-tablet) {
    padding: 3rem 2rem 2rem;
  }

  &--blue {
    background-color: $blue;
    color: $white;
    text-rendering: optimizeLegibility;
  }

  &--orange {
    background-color: $orange;
    text-rendering: optimizeLegibility;
  }
}

.text {
  font-size: $font-size-mobile;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-big;
  }
}

.explain-text {
  font-size: $font-size-mobile-small;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-laptop-small;
  }
}

@media screen and (min-width: $bp-tablet) {
  .longer-text-container {
    max-width: 1000px;
  }
}

.error {
  color: $red;
}
