// Global styles
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/Inconsolata-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'GalapagosA-Regular';
  src: url('assets/GalapagosA-Regular.woff2') format('woff2'), url('assets/GalapagosA-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-RegularGrid';
  src: url('assets/GalapagosA-RegularGrid.woff2') format('woff2'), url('assets/GalapagosA-RegularGrid.woff') format('woff');
}

@font-face {
  font-family: 'GalapagosA-Black';
  src: url('assets/GalapagosA-Black.woff2') format('woff2'), url('assets/GalapagosA-Black.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  line-height: 1;
}

button:hover,
button:focus {
  cursor: pointer;
}

// Constants
$bp-tablet: 680px;
$font-family: 'Inconsolata', monospace;
$font-family-galapagos: 'GalapagosA-Regular', 'Inconsolata', monospace;
$font-family-galapagos-black: 'GalapagosA-Black', 'Inconsolata', monospace;

// Font sizes
$font-size-mobile-small: 14px;
$font-size-mobile: 20px;
$font-size-mobile-big: 26px;
$font-size-mobile-huge: 40px;
$font-size-desktop: 22px;
$font-size-desktop-big: 33px;
$font-size-desktop-huge: 55px;

// Colors
$blue: #0000ee;
$orange: #ff551b;
$black: #000;
$white: #fff;
$medium-gray: lighten($black, 50%);

// Global Styles
body {
  font-family: $font-family;
  font-size: $font-size-mobile;

  @media screen and (min-width: $bp-tablet) {
    font-size: $font-size-desktop;
  }
}